@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// Reset
@import 'base/minireset';

// Fonts
@import 'fonts';
//
$font-sans: 'Muller', sans-serif;

// Variables
// Colors
// Base
$black: #000;
$white: #fff;

// Greys
$grey: #333;
$grey-dark: #323232;
$grey-light: #ccc;

//
$brand: #cfd11a;
$brand-light: #cfd11a;

// Grid
@import 'components/_base.grid';

// Vendors
@import 'vendor/strip';
@import 'vendor/slick';
@import 'vendor/slick-theme';
@import 'vendor/jquery.scrollbar';
@import 'vendor/jquery.modal';

// Typography
@import 'components/_base.typo';
@import 'components/_base.headings';
@import 'components/_base.link';

//
@import 'components/_base.buttons';
@import 'components/_base.icons';
@import 'components/_base.images';
@import 'components/_base.list';

// Block
@import 'components/_block.contacts';
@import 'components/_block.created';
@import 'components/_block.hero';
@import 'components/_block.logo';
@import 'components/_block.nav';
@import 'components/_block.map';
@import 'components/_block.tab';
@import 'components/_block.gallery';
@import 'components/_block.card';
@import 'components/_block.form';
@import 'components/_block.input';
@import 'components/_block.slider';
@import 'components/_block.modal';


// Helpers
@import 'components/_base.helper';
