extends ../layout/_layout.pug
block vars
  - var pageTitle = 'Паркинг'
  - var bodyClass = ''

block content
  // Top Panel
  include ../includes/_top-panel-inner
  // Top Panel End
  // SideBar
  include ../includes/_sidebar
  // SideBar End

  // Main
  main.main
    // Section About
    section.section.slide(data-hash='about')
      .grid
        .row.row--full
          .col.col--left.col--vertical-center
            h2.heading.heading--primary.heading--border  Подобрать паркинг
            button.btn.btn--base(type='button', name='button') Отправить заявку
          .col.col--center.col--center-section.col--vertical-center
            h3.heading.heading--secondary Двухуровневый паркинг с удобной планировкой
            p.paragraph.text.text--normal
              | Паркинг «Геометрии» — это не просто охраняемое просторное помещение,
              | где можно оставить автомобиль. Это время с семьей, лишние полчаса утром
              | в кровати, новая серия любимого сериала вечером. Это освободившиеся минуты,
              | которые вы можете провести так, как хотите: проблем с парковочным
              | местом больше не будет.
            p.paragraph.paragraph--about-last.text.text--normal
              | Выберите место для своего автомобиля на просторном паркинге.
          .col.col--right(style="background-image: url('../images/parking-right.jpg');")

    // Section About End

block scripts
  script(async='', src='https://d4nyll.github.io/smartscroll/EventEmitter.min.js')
  script(async='', src='https://d4nyll.github.io/smartscroll/lethargy.min.js')
