.image {
  // Styles
  // Media Queries
  // Modifiers
  &--gallery {
    height  : auto;
    width   : 100%;
    position: absolute;

    @media (min-width: 1200px) {
      height: 100%;
    }

    .main--parking &,
    .main--news & {
      img,
      source {
        width    : 100%;
        height   : auto;
        position : absolute;
        top      : 0;
        left     : 0;
        transform: none;

        @media (min-width: 1200px) {
          height: auto;
          top: 0;
          transform: none;
        }
      }
    }

    img,
    source {
      width    : 100%;
      height   : 100%;
      position : absolute;
      top      : 50%;
      left     : 50%;
      transform: translate(-50%, -50%);

      @media (min-width: 1200px) {
        height: auto;
        top: 0;
        transform: translate(-50%, 0);
      }
    }
  }

  &--card {
    height   : auto;
    width    : 100%;
    position : absolute;
    top      : 0;
    left     : 0;

    &.is-visible {
      width: auto;

      @media (min-width: 1200px) {
        width: 100%;
      }
    }
    &.is-hidden {
      width: 0;
    }

    @media (min-width: 1200px) {
      height: auto;
      width: 100%;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);

      &.is-visible {
        top: 25%;
      }
    }

    @media (min-width: 1920px) {
      height: auto;
      width: 100%;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);

      &.is-visible {
        top: 40%;
      }
    }
  }

  &--news {
    width    : auto;
    height   : 100%;
    min-height: 100%;
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
    margin: 0;

    @media (min-width: 1200px) {
      width    : 100%;
      height   : auto;
      position : absolute;
      top      : 0%;
      left     : 50%;
      transform: translate(-50%, -20%);
    }

    @media (min-width: 1920px) {
      top: 0;
      left: 0;
      transform: none;
    }
  }

  &--slider {
    height   : 100%;
    width    : 100%;
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);

    img,
    source {
      width    : 100%;
      height   : auto;
      position : absolute;
      top      : 50%;
      left     : 50%;
      transform: translate(-50%, -50%);
    }
    @media (min-width: 1200px) {
      height: 100%;
      width : 100%;
    }
  }

  &--logo {
    max-width : 100%;
    height    : auto;
    width     : auto;
    max-height: 100%;
  }

  &--logo-ten {
    width: 194px;
  }
}
