.icon {
  // Styles
  border : 0;
  outline: none;
  // Modifiers
  &--hamburger {
    width: 50px;
    height: 41px;
  }


  &--social {
    width   : 18px;
    height  : 18px;
    position: relative;
    fill    : inherit;
  }

  &--info {
    fill: $white;
    width: 6px;
    height: 16px;
    position: absolute;
    top: 11px;
    right: 16px;
  }
}
