.list {
  // Styles
  margin         : 0;
  padding        : 0;
  list-style-type: none;
  // Elements
  &__item {
    // Styles
    // Modifiers
    &--border-bottom {
      margin-bottom : 16px;
      border-bottom : 1px solid #cfd11a;
      padding-bottom: 18px;
      padding-top   : 10px;
      line-height   : 14px;
      @media (min-width: 1200px) {
        margin-bottom : 33px;
        padding-bottom: 28px;
        margin-top    : 28px;
        line-height   : 1.2;

        .main--contacts & {
          margin-top: 18px;
        }
      }

      &:first-of-type {
        margin-bottom: 7px;
        padding-top  : 0;

        @media (min-width: 1200px) {
          margin-bottom: 35px;
        }

        .main--contacts & {
          margin-bottom: 7px;
        }
        @media (min-width: 1200px) {
          margin-bottom: 0;
        }
      }

      &:last-of-type {
        border       : 0;
        margin-bottom: 35px;
        padding-top  : 6px;

        .main--index & {
          padding-top: 9px;
        }

        .main--contacts & {
          margin-top   : -3px;
          margin-bottom: 18px;
          padding      : 0;
        }
        @media (min-width: 1200px) {
          margin-top   : 0;
          margin-bottom: 0;
          padding-top  : 0;
        }
      }
    }

    &--card {
      @include clearfix;
      position     : relative;
      float        : left;
      transition   : initial;
      overflow     : hidden;
      width        : 24%;
      max-width    : 126px;
      margin-bottom: 0;
      margin-right : 14px;
      @media (min-width: 1200px) {
        max-width: none;
        min-width: 167px;
        width    : 23%;
      }
      @media (min-width: 1600px) {
        min-width: 240px;
      }
      @media (min-width: 1920px) {
        min-width: 300px;
        width    : 23%;
      }

      &:last-of-type {
        margin-right: 0;
      }
      @media (min-width: 1200px) {
        // width        : 300px;
        margin-right: 17px;

        &:nth-child(2n) {
          margin-right: 17px;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
      @media (min-width: 1920px) {
        margin-right: 14px;

        &:nth-child(2n) {
          margin-right: 14px;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }

      .list--unstyled > & {
        margin-bottom: 7px;
        line-height  : 14px;
        @media (min-width: 1200px) {
          margin-bottom: 14px;

          &.list__item--description,
          &.list__item--termin {
            margin-bottom: 0;
          }
        }

        &:last-of-type {
          margin-bottom: 0;
          margin-right : 0;
          @media (min-width: 1200px) {
            margin-bottom: 0;
            margin-right : 0;
          }
        }
      }

      .list--scroll & {
        width: auto;
      }

      .main--buy & {
        float        : none;
        margin-right : 0;
        margin-bottom: 14px;
        max-width    : none;
        @media (min-width: 1200px) {
          margin-right: 14px;
        }
      }

      .list--news & {
        width    : 100%;
        max-width: none;
        @media (min-width: 1200px) {
          width: 300px;
        }
      }

      .list--docs > & {
        margin   : 0 0 14px;
        padding  : 0;
        max-width: none;
        @media (min-width: 480px) {
          width: 300px;
        }
        @media (min-width: 1200px) {
          margin-right: 14px;
        }
      }
    }

    &--card-active {
      @include clearfix;
      width           : calc(100vw - 60px);
      height          : 367px;
      position        : absolute;
      top             : 0;
      right           : 0;
      bottom          : 0;
      left            : 0;
      z-index         : 100;
      background-color: $grey-dark;
      transition      : all 0.5s ease-in-out;

      &::before {
        display: none;
      }
      @media (min-width: 1200px) {
        width     : 100%;
        height    : auto;
        max-height: 485px;
        margin    : 0;
      }
      @media (min-width: 1200px) and (min-device-aspect-ratio: 5/4) and (max-device-aspect-ratio: 4/3) {
        max-height: 690px;
      }
      @media (min-width: 1600px) {
        // height: 690px;
      }
      @media (min-width: 1920px) {
        max-height: 690px;
        max-width : none;
      }
    }

    &--dot {
      position     : relative;
      padding-left : 18px;
      margin-bottom: 12px;
      line-height  : 1;
      padding-right: 20px;

      &::before {
        content  : '•';
        display  : block;
        font-size: 16px;
        height   : auto;
        left     : 0;
        position : absolute;
        top      : 0;
        width    : auto;
      }
      @media (min-width: 1200px) {
        padding-left: 68px;
      }
    }

    &--years {
      // flex         : 1 1 80px;
      // min-width    : 80px;
      width        : 80px;
      max-width    : 80px;
      position     : relative;
      margin-right : 10px;
      margin-bottom: 10px;
      outline      : none;
      box-sizing: border-box;

      &:last-of-type {
        margin-right: 0;
      }

      &.is-active {
        outline: none;
      }

      &::before {
        content    : '';
        display    : block;
        width      : 100%;
        padding-top: 100%;
      }
      @media (min-width: 1620px) {
        flex     : 1 1 100px;
        max-width: 100px;
      }
    }

    &--termin {
      float        : left;
      width        : 65px;
      margin-bottom: 0;
      @media (min-width: 1200px) {
        margin-bottom: 0;
        width        : 69px;
      }
    }

    &--description {
      margin-bottom: 0;
      @media (min-width: 1200px) {
        margin-bottom: 0;
      }
    }
  }

  &--unstyled {
    list-style-type: none;
    margin         : 0;
    padding        : 0;

    .text--normal {
      font-size: 12px;
      @media (min-width: 1600px) {
        font-size: 14px;
      }
      @media (min-width: 1920px) {
        font-size: 16px;
      }
    }
  }

  &--cards {
    @include clearfix;
    width        : 100%;
    height       : 100%;
    position     : relative;
    margin-bottom: 6px;
    @media (min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  &--cards-index {
    @include clearfix;
    width : 550px;
    height: 100%;
    margin: 0 auto;
    @media (min-width: 700px) {
      width: 100%;
    }
    @media (min-width: 1200px) {
      width: 100%;
    }

    .scroll-content {
      padding: 0 30px;
    }
  }

  &--docs {
    margin-top: 11px;
    @media (min-width: 1200px) {
      margin-top: 0;
    }
  }

  &--dot {
    max-width: 500px;
  }

  &--years {
    display    : flex;
    flex-wrap  : wrap;
    width: auto;
    margin-left: 2px;
    margin-right: -10px;
    // min-width: 255px;
    @media (min-width: 1200px) {
      max-width  : 280px;
      margin-left: 0;
      margin-right: 0;
    }
    @media (min-width: 1600px) {
      max-width: 300px;
    }
    @media (min-width: 1920px) {
      max-width: none;
    }
  }

  &--scroll {
    width : 3770px;
    height: 625px;

    .main--build &,
    .main--buy &,
    .main--docs & {
      width : auto;
      height: auto;
      @include clearfix;

      .list__item--card {
        display: none;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          display: block;
        }
      }
      @media (min-width: 1200px) {
        width: 5800px;

        .list__item--card {
          display: block;
          float  : left;
        }
      }
      @media (min-width: 1920px) {
        width: 3800px;
      }
    }

    &.list--news {
      @media (min-width: 1200px) {
        width: 1270px;
      }
    }
  }

  &--news {
    @media (min-width: 1200px) {
      width: 1270px;
    }
  }

  &--description {
    padding-top: 5px;
    line-height: 14px;
    @media (min-width: 1200px) {
      padding-top: 0;
      line-height: inherit;
    }
  }
}
