.image {
  // Styles
  // Media Queries
  // Modifiers
  &--gallery {
    height   : 100%;
    width    : 100%;
    position : absolute;

    img,
    source {
      width: 100%;
      height: 100%;
      position : absolute;
      top      : 50%;
      left     : 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--card {
    height   : 100% !important;
    width    : 100% !important;
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
  }

  &--news {
    width    : 100% !important;
    height   : auto !important;
    top      : 0;
    left     : 0;
    transform: none;
  }

  &--slider {
    height   : 100% !important;
    width    : 100% !important;
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);

    img,
    source {
      width: 100%;
      height: 100%;
      position : absolute;
      top      : 50%;
      left     : 50%;
      transform: translate(-50%, -50%);
    }
    @media (min-width: 1200px) {
      height: 100% !important;
      width : 100% !important;
    }
  }

  &--logo {
    max-width : 100%;
    height    : auto;
    width     : auto;
    max-height: 100%;
  }

  &--logo-ten {
    width: 194px;
  }
}
