html {}

body {
  width: 100vw;
  @media (min-width: 1200px) {
    overflow: hidden;
  }
}

.page {
  width: 100%;
  height: 100%;
  @media (min-width: 1200px) {
    overflow: hidden;
  }
}

.top-panel {
  z-index: 55;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  box-shadow: 0 1px 2px 0 rgba($grey-dark, 0.14);

  // display: none;
  @media (min-width: 1200px) {
    height: 133px;
    background-color: transparent;
    box-shadow: none;


    &.is-first {
      z-index: 100;
    }

    &.is-gradient {
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
      }
    }
  }
}

.sidebar {
  display: flex;
  z-index: 80;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: row;
  flex-wrap: wrap;
  width: 0;
  height: 100%;
  transition: all 500ms ease-in-out;
  @media (min-width: 1200px) {
    width: 17.188%;
    right: -17.188%;
    // padding: 0 48px;
  }
  // Modifiers
  &--active {
    width: 100%;
    transition: all 500ms ease-in-out;

    & + .main .row--full {
      filter: blur(2px);
    }

    .sidebar__inner {
      width: 100%;
      display: block;
      right: 0;
      transition: all 500ms ease-in-out;
    }
    @media (min-width: 1200px) {
      width: 17.188%;
      right: 0;

      & + .main .row--full {
        filter: none;
      }

      .sidebar__inner {
        width: 17.188%;
        display: flex;
      }
    }
  }

  &__inner {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    top: 0;
    right: -100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba($white, .9);
    padding: 112px 30px 0;
    transition: all 500ms ease-in-out;
    @media (min-width: 1200px) {
      padding: 0 30px;
      width: 17.188%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: flex-end;
      overflow: hidden;
    }
    @media (min-width: 1600px) {
      padding: 0 40px;
    }
    @media (min-width: 1920px) {
      padding: 0 48px;
    }
  }
}

.main {
  @include clearfix;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin-top: 75px;
  @media (min-width: 1200px) {
    margin-top: 0;
  }
}

.section {
  // padding-top: 65px;
  @media (min-width: 1200px) {
    padding: 0;
  }

  &--no-margin {
    padding: 0;
  }
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  width: 100%;
  height: 100%;
  position: relative;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  // height        : 100%;
  padding: 0 30px;
  @media (min-width: 1200px) {
    flex-direction: row;
    padding: 0;
  }

  &--full {
    align-content: stretch;
  }

  &--space {
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
  }

  &--horizontal {
    flex-direction: row;
  }

  .main & {
    position: relative;
    height: 100%;

    &.top-panel {
      position: fixed;
      height: 75px;
      background-color: $white;
      display: none;

      &.is-first {
        display: flex;
      }
      @media (min-width: 1200px) {
        display: flex;
        position: absolute;
        height: 133px;
        background-color: transparent;
      }
    }
  }

  .main--index & {
    // position: absolute;
    &.top-panel {
      // position: absolute;
      display: none;
      @media (min-width: 1200px) {
        display: flex;
      }
    }

    &.is-first {
      display: flex;
      margin: 0 -30px;
      width: 100vw;
      @media (min-width: 1200px) {
        position: absolute;
        margin: 0 -75px;
      }
      @media (min-width: 1600px) {
        margin: 0 -100px;
      }
      @media (min-width: 1920px) {
        margin: 0 -150px;
      }
    }
  }
}

.col {
  // Styles
  @include clearfix;
  position: relative;
  flex: 1 1 auto;
  width: auto;

  .main & {
    position: initial;
    @media (min-width: 1200px) {
      position: relative;
    }
  }
  // Modifiers
  &--left {
    @media (min-width: 1200px) {
      flex: 0 0 34.375%;

      &::before {
        display: block;
        position: absolute;
        top: 0;
        right: -1px;
        width: 1px;
        height: 100%;
        background-color: $brand;
        content: '';
      }
    }
    @media (min-width: 1920px) {
      flex: 0 0 660px;
    }
  }

  &--left-no-border {
    &::before {
      display: none;
    }

    .main--index & {
      position: relative;
    }
  }

  &--center {
    flex-basis: auto;
    @media (min-width: 1200px) {
      padding: 69px 0 0 83px;
    }
    @media (min-width: 1200px) {
      padding: 75px 0 0 83px;
    }
    @media (min-width: 1920px) {
      padding: 79px 0 0 83px;
    }

    .top-panel & {
      display: none;
      @media (min-width: 1200px) {
        display: block;
      }
    }

    .main & {
      margin-bottom: 125px;
      @media (min-width: 1200px) {
        margin: 0;
      }
    }

    .main--index & {
      margin: 0;
    }
    .main--build & {
      margin: 0;
    }

    #credit & {
      margin-bottom: 1px;
    }
  }

  &--center-section {
    flex-basis: auto;
    @media (min-width: 1200px) {
      padding: 66px 200px 0 86px;
    }
  }

  &--center-full {
    flex-basis: auto;
    padding: 0;
    position: relative;
  }

  &--right {
    @media (min-width: 1200px) {
      flex: 0 0 17.188%;
    }

    .main & {
      height: 330px;
      background-size: 100%;
      background-position: center bottom;
      @media (min-width: 1200px) {
        height: 100%;
        background-size: cover;
        background-position: center;
      }
    }

    .main--index & {
      height: auto;
    }

    .is-first & {
      z-index: 100;
      position: fixed;
      top: 0;
      right: 0;
      width: 17.188%;
      height: 55px;
      @media (min-width: 1200px) {
        height: 133px;
      }
    }
  }

  &--vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--margin-vertical {
    @media (min-width: 1200px) {
      padding-top: 200px;

      .main--build & {
        padding-top: 200px;
      }

      &.col--center {
        padding-top: 200px;

        &:last-of-type {
          padding-top: 133px;
          padding-left: 1px;
        }
      }
    }
    @media (min-width: 1920px) {
      padding-top: 263px;

      .main--build & {
        padding-top: 265px;
      }

      &.col--center {
        padding-top: 275px;

        &:last-of-type {
          padding-top: 212px;
          padding-left: 1px;
        }
      }
    }
  }

  &--margin-left {
    @media (min-width: 1200px) {
      padding-left: 75px;

      &.col--center {
        padding-left: 81px;
      }

      .main--build & {
        padding-left: 75px;
      }
    }
    @media (min-width: 1600px) {
      padding-left: 100px;

      &.col--center {
        padding-left: 81px;
      }

      .main--build & {
        padding-left: 100px;
      }
    }
    @media (min-width: 1920px) {
      padding-left: 147px;

      &.col--center {
        padding-left: 81px;
      }

      .main--build & {
        padding-left: 147px;
      }
    }
  }

  &--margin-logo {
    @media (min-width: 1200px) {
      padding-top: 53px;
      padding-left: 75px;
    }
    @media (min-width: 1600px) {
      padding-top: 53px;
      padding-left: 100px;
    }
    @media (min-width: 1920px) {
      padding-top: 53px;
      padding-left: 150px;
    }
  }

  &--auto {
    flex: 0 1 calc(50%);

    .card--banks & {
      flex: 0 1 calc(50% - 6px);

      .text--xsmall {
        margin-bottom: 20px;
      }

      @media (min-width: 1200px) {
        flex: 0 1 calc(50% - 21px);
      }
    }
  }

  &--overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 330px;
    @media (min-width: 1200px) {
      height: 100%;
    }

    &::after {
      content: '';
      display: block;
      width: 80px;
      height: 80px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("./../../images/play-image.png");
      background-size: cover;
      position: absolute;
      @media (min-width: 1200px) {
        width: 145px;
        height: 145px;
      }
    }
  }

  &--no-padding {
    padding: 0;
    margin: 0 -30px;
    @media (min-width: 1200px) {
      margin: 0;
    }
  }
}

.block {
  @include clearfix;

  &--gallery {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    transition: all 500ms ease-out;
  }
}

.wrap {
  //Styles
  @include clearfix;
  width: 100%;

  @media (min-width: 1200px) {
    margin-left: -1px;
  }

  &--index-card-scroll {
    width: auto;
    &.scroll-wrapper {
      // padding: 0 30px !important;
    }
  }

  &--about-card-scroll {
    position: relative;
    @media (min-width: 1200px) {
      margin: 0 17px 0 0;
    }
  }
}

.date {
  position: absolute;
  top: 21px;
  right: 30px;
  @media (min-width: 1200px) {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__small {
    display: block;
    font-size: 11px;
    @media (min-width: 1200px) {
      display: none;
    }
  }

  &__big {
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }
  }
}
