.heading {
  // Styles
  font-weight: bold;
  // Modifiers
  &--hero {
    text-transform: uppercase;
    vertical-align: middle;
    font-size     : 21px;
    z-index       : 1;
    // Media Queries
    @media (min-width: 1200px) {
      width    : 700px;
      font-size: 54px;
    }
  }

  &--primary {
    font-size    : 36px;
    margin-bottom: 21px;
    @media (min-width: 1200px) {
      margin-bottom: 69px;
      font-size    : 48px;
    }

    .main--build & {
      margin-bottom: 30px;
      font-size    : 48px;
      margin-right : 78px;
      line-height  : 50px;
    }
  }

  &--primary-inner {
    @media (min-width: 1200px) {
      margin-bottom: 27px;
      font-size    : 48px;
    }
  }

  &--secondary {
    font-size    : 18px;
    margin-bottom: 26px;
    @media (min-width: 1200px) {
      width        : 500px;
      margin-bottom: 45px;
      font-size    : 32px;
    }
  }

  &--secondary-inner {
    @media (min-width: 1200px) {
      font-size     : 36px;
      padding-bottom: 15px;
      width         : 100%;

      .main--build & {
        // float: left;
        height       : 60px;
        margin-bottom: 19px;
      }
    }
    border-bottom: 1px solid $brand;
  }

  &--border {
    @media (min-width: 1200px) {
      padding-bottom: 15px;
    }
    border-bottom: 1px solid $brand;
  }

  &--card {
    font-size: 12px;
    font-weight: 500;
    @media (min-width: 1200px) {
      font-size  : 20px;
    }
  }

  &--nav-title {
    // Styles
    font-weight   : 400;
    text-transform: uppercase;
    font-size     : 14px;
    margin-bottom : 19px;
    padding-top   : 3px;
    padding-bottom: 15px;
    border-bottom : 1px solid $brand;
    // Media Queries
    @media (min-width: 1200px) {
      width         : 100%;
      margin-bottom : 40px;
      padding-bottom: 15px;
      font-size     : 14px;
    }
  }

  &--modal {
    @media (min-width: 1200px) {
      font-size    : 32px;
      font-weight  : bold;
      margin-bottom: 37px;
    }
  }

  &--index-location {
    display: none;
    @media (min-width: 1200px) {
      display: inline-block;
    }
  }
}
