.link {
  // Styles
  color          : inherit;
  font-size      : inherit;
  line-height    : inherit;
  text-decoration: none;
  text-transform : inherit;
  // States
  &:link {
    color: inherit;
  }

  &:visited {
    color: inherit;
  }

  &:hover {
    color: inherit;
  }

  &:active {
    color: inherit;
  }
  // Modifiers
  &--nav {}

  &--phone {}

  &--call-me {
    text-decoration: underline;
  }

  &--underline {
    text-decoration: underline;
  }

  &--socials {
    color: $brand;
    fill : $brand;
    // States
    &:link {}

    &:visited {}

    &:hover {
      color: $black;
      fill : $black;
    }

    &:active {}
  }

  &--created {
    // font-size: 12px;
    &:link {}

    &:visited {}

    &:hover {
      color: $brand;
    }

    &:active {}
  }

  &--gallery {
    display   : block;
    width     : 100%;
    height    : 100%;
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
    transition: all 500ms ease-out;
  }

  &--card {
    // Styles
    font-size  : 20px;
    font-weight: 500;
    // States
    &:link {
      background-color: $grey-dark;
      color           : $brand;
    }

    &:visited {}

    &:hover {
      background-color: $brand;
      color           : $grey-dark;
    }

    &:active {}
  }

  &--years {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    text-align: center;

    &:link {}

    &:visited {}

    &:hover {
      background-color: $brand;
    }

    &:active {}
  }
}
