.icon {
  // Styles
  border : 0;
  outline: none;
  transition      : all 500ms ease-in-out;
  // Modifiers
  &--hamburger {
    width : 50px;
    height: 41px;

    @media (min-width: 1200px) {
      width: 40px;
    }
    @media (min-width: 1920px) {
      width: 50px;
    }
  }

  &--social {
    width   : 18px;
    height  : 18px;
    position: relative;
    fill    : inherit;
  }

  &--info {
    fill    : $white;
    width   : 5px;
    height  : 16px;
    position: absolute;
    top     : 7px;
    right   : 14px;
  }

  &--docs {
    fill  : $grey-dark;
    width : 44px;
    height: 44px;
  }

  &--arrow {
    fill      : $grey-dark;
    width     : 27px;
    height    : 15px;
    margin-top: -3px;
  }

  &--arrow-full {
    fill      : $grey-dark;
    width     : 48px;
    height    : auto;

    @media (min-width: 1200px) {
      width: 34px;
    }
    @media (min-width: 1920px) {
      width: 39px;
    }
  }

  &--close {
    fill: $grey-dark;
    width: 39px;
    height: 38px;

    @media (min-width: 1200px) {
      width: 34px;
    }
    @media (min-width: 1920px) {
      width: 39px;
    }
  }
  &--dark-grey {
    fill: $grey-dark;
  }
}
