body {
  -webkit-font-smoothing: antialiased;
  font-family           : $font-sans;
  font-feature-settings : 'liga', 'clig';
  font-size             : 16px;
  font-weight           : 300;
  line-height           : 1.2;
  text-rendering        : optimizeLegibility;

  // Selection
  *::-moz-selection {
    background-color: rgba($brand, 0.3);
    text-shadow     : none;
  }

  //
  *::selection {
    background-color: rgba($brand, 0.3);
    text-shadow     : none;
  }
}

.text {
  // Styles
  // // Modifiers
  // Colors
  &--white {
    color: $white;
  }

  &--black {
    color: $black;
  }

  &--grey {
    color: $grey;
  }

  &--grey-light {
    color: $grey-light;
  }

  &--grey-dark {
    color: $grey-dark;
  }

  &--brand {
    color: $brand;
  }

  // Sizes
  &--hide {
    text-indent: 100%;
    white-space: nowrap;
    overflow   : hidden;
  }

  &--xsmall {
    font-size: 12px;

    .main--build & {
      font-size: 10px;
      
      @media (min-width: 1920px) {
        font-size: 12px;
      }
    }

    &.label {
      font-size: 10px;

      @media (min-width: 1920px) {
        font-size: 12px;
      }
    }

    @media (min-width: 1920px) {
      font-size: 12px;
    }
  }

  &--small {
    font-size: 11px;
    @media (min-width: 1920px) {
      font-size: 14px;
    }
  }

  &--normal {
    font-size: 12px;
    @media (min-width: 1920px) {
      font-size: 16px;
    }

    &.location {
      display: inline-block;
      @media (min-width: 1920px) {
        width: 150px;
      }
    }

    .main--parking & {
      font-size: 12px;
      @media (min-width: 1920px) {
        font-size: 16px;
      }
    }
    .main--docs & {
      font-size: 12px;
      @media (min-width: 1920px) {
        font-size: 16px;
      }
    }
  }

  &--medium {
    font-size: 14px;
    @media (min-width: 1920px) {
      font-size: 16px;
    }
    @media (min-width: 1920px) {
      font-size: 18px;
    }
  }

  &--large {
    @media (min-width: 1920px) {
      font-size: 20px;
    }
  }

  &--xlarge {
    @media (min-width: 1920px) {
      font-size: 22px;
    }

    .card & {
      font-size: 25px;
    }
  }

  &--big {
    font-size: 26px;
    @media (min-width: 1920px) {
      font-size: 36px;
    }

    &.time {
      display     : inline-block;
      margin-right: 72px;
      @media (min-width: 1200px) {
        width      : 139px;
        margin-left: 2px;
      }
    }
  }

  // Styled
  &--underline {
    text-decoration: underline;
  }

  &--thin {
    font-weight: 100;
  }

  &--ultrathin {
    font-weight: 200;
  }

  &--light {
    font-weight: 300;
  }

  &--regular {
    font-weight: 400;
  }

  &--f-medium {
    font-weight: 500;
  }

  &--bold {
    font-weight: 600;
  }

  &--extrabold {
    font-weight: 700;
  }

  &--heavy {
    font-weight: 800;
  }

  &--f-black {
    font-weight: 900;
  }

  // Text Align
  &--left {
    display   : inline-block;
    width     : 100%;
    text-align: left;
  }

  &--center {
    display   : inline-block;
    width     : 100%;
    text-align: center;
  }

  &--right {
    display   : inline-block;
    width     : 100%;
    text-align: right;
  }
}

.paragraph {
  margin-bottom: 17px;

  .main--docs & {
    line-height: 14px;
    @media (min-width: 1920px) {
      font-size: 16px;
    }
  }

  .main--buy & {
    margin-bottom: 12px;
    @media (min-width: 1920px) {
      font-size: 16px;
    }
  }

  @media (min-width: 1200px) {
    margin-bottom: 20px;
    max-width: 500px;

    .col--left & {
      margin-right: 30px;
    }
  }

  // Modifiers
  &--about-last {
    margin-bottom: 122px;
  }

  &--inner {
    width: auto;
    display: none;

    @media (min-width: 1200px) {
      width: 350px;
      display: block;
      margin-right: 0;
    }
    @media (min-width: 1600px) {
      width: 400px;
      display: block;
    }
  }
}
