.hero {
  // Styles
  // Elements
  // Modifiers
  &--main {
    display        : flex;
    flex-direction : column;
    align-items    : flex-start;
    justify-content: flex-end;
    width          : 100%;
    height         : 100%;
    // Media Queries
    @media (min-width: 1200px) {
      padding         : 0 150px 99px;
      background-image: url('../../images/hero-bg-big.jpg');
      background-size : cover;
    }
  }
}
