.logo {
  // Styles
  position: relative;
  float   : left;
  // Elements
  &__link {
    display : block;
    position: relative;
    width   : 100%;
    height  : 100%;
  }
  // Modifiers
  &--top {
    width: 109px;
    margin: 20px 0 0 30px;
    @media (min-width: 1200px) {
      width : 254px;
      margin: 2px 0 0;
    }
  }

  &--top-dark {
    .svg-figure {
      stroke: $grey-dark;
    }
    .svg-text {
      fill: $grey-dark;
    }
  }

  &--ten {
    width        : 100%;
    margin-bottom: 8px;
    margin-left  : 2px;
    @media (min-width: 1200px) {

    }
  }

  &--bank {
    width    : auto;
    max-width: 90px;
    height   : auto;
  }
}

.svg-figure {
  stroke: $grey-dark;
  @media (min-width: 1200px) {
    stroke: $white;
  }

  .logo__link:hover & {
    stroke: $brand;
  }

  .page--inner & {
    stroke: $grey-dark;
  }
}

.svg-text {
  fill: $grey-dark;

  @media (min-width: 1200px) {
    fill: $white;
  }

  .page--inner & {
    fill: $grey-dark;
  }
}
