.tab {
  // Styles
  // @include clearfix;
  position: relative;
  width: 100%;
  height: auto;
  margin-left: -1px;

  .main--build & {
    height: 100px;

    @media (min-width: 1200px) {
      width: auto;
      margin: 0 20px;
    }

    @media (min-width: 1620px) {
      height: auto;
      margin: 0;
    }
  }

  // Media Queries

  // Elements
  &__item {
    // Styles
    @include clearfix;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    z-index: 1;

    // Modifiers
    &--active {
      display: block;
      opacity: 1;
      transition: all 500ms ease-out;
      z-index: 5;
    }
  }

  // Modifiers
  &--index {
    @include aspect-ratio(20, 13);
    // min-height: 414px;
    height: auto;
    // height: 780px;
  }
}
