.logo {
  // Styles
  position: relative;
  float   : left;
  // Elements
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  // Modifiers
  &--top {
    // height: 100%;
    @media (min-width: 1200px) {
      // padding: 53px 0 0 150px;
      width: 254px;
      margin: 2px 0 0px 0px;
    }
  }

  &--ten {
    width        : 100%;
    margin-bottom: 8px;
    margin-left  : 2px;
  }

  &--bank {
    max-width: 130px;
    height: auto;
    width: auto;
    max-height: 40px;
  }
}

#svg-figure {
  .logo__link:hover & {
    stroke: $brand;
  }

  .about-features & {
    stroke: $black;
  }
}

#svg-text {
  .about-features & {
    fill: $black;
  }
}
