.slider {
  @include aspect-ratio(32, 33);
  width : auto;
  height: auto;
  margin: 0 -30px;
  @media (min-width: 1200px) {
    height  : 100%;
    margin  : 0;
    overflow: hidden;
  }

  &__item {
    height  : 330px;
    position: relative;
    overflow: hidden;
    @media (min-width: 1200px) {
      height: 100%;
    }
  }

  .slick-list {
    z-index : 1;
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
    @media (min-width: 1200px) {
      height: 100vh !important;
    }
  }

  &.slick-vertical {
    .slick-slide {
      height : calc(100vh - 192px) !important;
      z-index: 5;
      border : 0;

      > div {
        width : 100%;
        height: 100%;
      }

      &.slick-active {
        z-index: 10;
        // box-shadow: 0 5px 17px 14px rgba(0, 0, 0, 0.64);
      }
    }
  }

  .btn--next,
  .btn--prev {
    height: 70px;
    width : 30px;
    top   : 50%;
    background-color: $brand;
    // margin-top: -35px;
    @media (min-width: 1200px) {
      width      : 110px;
      height     : 40px;
      left       : 50%;
      right      : auto;
      margin-left: -55px;
      margin-top : 0;
      position   : absolute;
    }
    &:hover {
      > .icon {
        fill: $grey-dark;
      }
    }
    &:active {
      background-color: $grey-dark;
      > .icon {
        fill: $white;
      }
    }
  }

  .btn--next {
    right: 0;
    @media (min-width: 1200px) {
      right: auto;
      top: 725px;
    }
    @media (min-width: 1600px) {
      top: 858px;
    }
    @media (min-width: 1920px) {
      top: 922px;
    }
  }

  .btn--prev {
    left: 0;
    @media (min-width: 1200px) {
      left: 50%;
      top : 148px;
    }
  }
}

.btn--next,
.btn--prev {
  z-index: 10;

  &::before {
    display: none;
  }

  &:hover {
    background-color: $brand;
  }

  .icon {
    transform: rotate(90deg);
    width    : 18px;
    height   : 10px;
    @media (min-width: 1200px) {
      width    : 27px;
      height   : auto;
      margin   : 0;
      top      : 0;
      left     : 0;
      transform: rotate(180deg) translate(10%, 50%);
    }
  }
}

.btn--next {
  .icon {
    transform: rotate(-90deg);
    @media (min-width: 1200px) {
      transform: rotate(0) translate(-8%, -30%);
    }
  }
}
