.input {
  width  : 100%;
  outline: none;

  &:active {
    outline: none;
  }

  &--text {
    margin-bottom: 15px;
    padding      : 20px 24px;
    border       : 1px solid $brand;
    color        : $black;
    font-size    : 16px;
    font-weight  : 400;
    line-height  : 1;

    ::-webkit-input-placeholder {
      color: $grey-light;
    }

    ::-moz-placeholder {
      color: $grey-light;
    }

    :-ms-input-placeholder {
      color: $grey-light;
    }

    :-moz-placeholder {
      color: $grey-light;
    }
  }

  &--checkbox {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 0;
    height  : 0;
    cursor  : pointer;

    &::before {
      display : block;
      position: absolute;
      top     : 5px;
      left    : 5px;
      width   : 30px;
      height  : 30px;
      border  : 1px solid $brand;
      content : '';
    }

    &:checked::after {
      display         : block;
      position        : absolute;
      top             : 10px;
      left            : 10px;
      width           : 20px;
      height          : 20px;
      background-color: $brand;
      content         : '';
    }
  }
}

span.input--error {
  position: absolute;
  top: 0;
  right: 0;
  width: 260px;
  color: $brand;
  font-size: 16px;
  font-weight: 400;
  line-height: 60px;
}

.label {
  display      : block;
  position     : relative;
  width        : 100%;

  &--checkbox {
    height       : 40px;
    margin-bottom: 25px;
    padding-top  : 6px;
    padding-left : 45px;
    line-height  : 1.2;
    cursor       : pointer;
  }

  &:last-of-type {
    .form--modal & {
      margin: 31px 0 35px -5px;
    }
  }
}
