.card {
  // Styles
  position  : relative;
  transition: all 0.5s ease-in-out;
  // Media Queries
  // Elements
  &__front {
    // Styles
    display: block;
    height : 100%;
    width  : 100%;
    // transition: all 0.5s ease-in-out;
    // Media Queries
  }

  &__back {
    // Styles
    display   : block;
    position  : absolute;
    left      : 101%;
    bottom    : 101%;
    width     : 100%;
    height    : 100%;
    transition: all 500ms ease-in-out;

    &--hover {
      left  : 0;
      bottom: 0;
    }
    // Media Queries
  }

  &__inner {
    // Styles
    display         : block;
    width           : auto;
    height          : auto;
    max-width       : 100%;
    max-height      : 100%;
    background-color: inherit;
    color           : inherit;
    // transition: all 0.5s ease-in-out;
    // Media Queries
    //
    .card--banks & {
      padding: 20px;
      @media (min-width: 1200px) {
        padding: 20px 25px;
        height : 100%;
      }
    }

    .card--docs & {
      padding: 22px 20px;
      @media (min-width: 1200px) {
        padding: 20px 40px 30px 25px;
      }
    }

    .card--features & {
      width   : 100%;
      height  : 100%;
      position: absolute;
      top     : 0;
      left    : 0;
    }

    .modal__inner & {
      position: relative;
    }
  }

  &__image {
    // Styles
    display            : block;
    position           : relative;
    width              : 100%;
    background-position: top center;
    background-size    : cover;
    background-repeat  : no-repeat;
    // transition: all 0.5s ease-in-out;
    .card--features & {
      height  : calc(100% - 120px);
      overflow: hidden;
      // Media Queries
      @media (min-width: 1200px) {
        height  : 690px;
        display : block;
        position: relative;
      }
    }

    .card--banks & {
      margin-bottom: 45px;
    }

    .card--news & {
      @include aspect-ratio(26, 19);
      display      : block;
      width        : 100%;
      // margin-bottom: 6px;
    }

    .modal__inner & {
      overflow  : hidden;
      height    : 255px;
      // max-width : 100vw;
      max-height: 255px;

      .is-visible {
        display: none;
      }

      .is-hidden {
        width     : auto;
        max-height: inherit;
        max-width : inherit;
      }
    }
    // Media Queries
  }

  &__title {
    // Styles
    display         : block;
    min-height      : 120px;
    max-height      : 140px;
    padding         : 20px;
    background-color: $grey-dark;
    color           : inherit;

    .card--features:hover & {
      background-color: $brand;
    }

    .card--news:hover & {
      background-color: $brand;

      .text {
        color: $grey-dark;
        border-color: $grey-dark;
      }
    }

    .card--active & {
      padding-bottom: 0;
      // border        : 1px solid $brand;
      // border-right: 0;
    }

    .card--news & {
      height : 115px;
      padding: 30px 21px 18px 30px;
      @media (min-width: 1200px) {
        height : 100px;
        padding: 20px;
      }
      @media (min-width: 1600px) {
        padding: 20px;
      }
      @media (min-width: 1920px) {
        height : 115px;
        padding: 30px 21px 18px 30px;
      }

      .text {
        display     : block;
        height      : 40px;
        width       : 110px;
        float       : right;
        margin-right: -21px;
        border-left : 1px solid $brand;
        line-height : 40px;
        position    : absolute;
        bottom      : 0;
        right       : 21px;
      }
    }

    .modal__inner & {
      font-size: 14px;
      color    : $brand;
    }
    // Media Queries
    @media (min-width: 1200px) {
      left      : 0;
      width     : 100%;
      max-height: 120px;
      height    : 120px;
      max-width : 300px;
      padding   : 37px 39px;
      position  : absolute;
      bottom    : 0;
      // background-color: inherit;
      .card--features & {
        padding: 20px;
      }
    }
    @media (min-width: 1600px) {
      max-height: 140px;
      height    : 140px;
    }
    @media (min-width: 1920px) {
      .card--features & {
        padding: 47px 39px;
      }
    }
  }

  &__text {
    // Styles
    display: none;

    .card--active & {
      display         : block;
      background-color: inherit;
      box-sizing      : border-box;
      border          : 1px solid $brand;
      padding         : 32px 35px 35px;
      @media (min-width: 1200px) {
        position        : absolute;
        bottom          : 0;
        right           : 0;
        left            : 300px;
        height          : 120px;
        padding         : 18px 20px 20px;
        background-color: $white;
        box-sizing      : border-box;
        border          : 1px solid $brand;
      }
      @media (min-width: 1600px) {
        height   : 140px;
        min-width: 900px;
      }
      @media (min-width: 1920px) {
        padding: 32px 35px 35px;
      }
    }

    .modal__inner & {
      display  : block;
      font-size: 11px;
      padding  : 20px;

      .text {
        color: $white;
      }
    }
    // Media Queries
  }

  &__content {
    display: block;
    width  : auto;
    height : auto;

    .card--docs & {
      margin-left: 6px;
      margin-top : 12px;
      @media (min-width: 1200px) {
        margin-left: 3px;
        margin-top : 10px;
      }
    }
  }

  &__info {
    // Styles
    z-index         : 15;
    position        : absolute;
    top             : 0;
    right           : 0;
    width           : 32.87px;
    height          : 32.9px;
    background-color: $grey-dark;
    transition      : all ease 500ms;
    cursor          : pointer;
    // Media Queries
  }
  // Modifiers
  &--active {
    // Styles
    // transition: all 0.5s ease-in-out;
    // Media Queries
  }
  // Type 1
  &--type-one {
    // Styles
    // Media Queries
  }

  &--features {
    // Styles
    @include aspect-ratio(126, 367);
    display         : block;
    // width           : 126px;
    // height          : 367px;
    min-height      : 367px;
    // margin-right    : 8px;
    // margin-bottom   : 0;
    background-color: inherit;
    color           : inherit;
    overflow        : hidden;

    &.card--active {
      width   : 100%;
      height  : 100%;
      margin  : 0;
      overflow: hidden;
    }
    // Media Queries
    @media (min-width: 1200px) {
      @include aspect-ratio(10, 23);
      // max-height: 690px;
      max-height: 485px;
      width     : 100%;
      float     : left;
    }
    @media (min-width: 1920px) {
      max-height: 690px;
    }
  }

  &--news {
    // Styles
    display : block;
    width   : 100%;
    height  : 290px;
    overflow: hidden;
    // Media Queries
    @media (min-width: 1200px) {
      height: 230px;
    }
    @media (min-width: 1600px) {
      height: 250px;
    }
    @media (min-width: 1920px) {
      height: 335px;
    }
  }
  // Type 2
  &--type-two {
    // Styles
    // Media Queries
  }

  &--banks {
    // Styles
    height  : 186px;
    width   : 100%;
    overflow: hidden;
    border  : 1px solid $brand;
    // Media Queries
    @media (min-width: 1200px) {
      width: 300px;
    }
  }

  &--docs {
    // Styles
    width     : 100%;
    height    : 186px;
    border    : 1px solid $brand;
    box-sizing: border-box;

    .text--normal {
      margin-bottom: 50px;
      font-size    : 14px;
      line-height: 16px;

      @media (min-width: 1200px) {
        margin-bottom: 37px;
      }
      @media (min-width: 1920px) {
        font-size: 16px;
        line-height: 1.2;
      }
    }
    // Hover
    &:hover {
      background-color: $brand;

      .text--xsmall {
        color: $white;
      }
    }
    // Media Queries
  }
}
