.nav {
  // Styles
  // Elements
  &__list {
    // Styles
    margin         : 0;
    padding        : 0;
    list-style-type: none;
    transition     : all 500ms ease-in-out;
    // Modifiers
    &--horizontal {
      display        : flex;
      flex-direction : row;
      align-items    : center;
      justify-content: flex-start;
    }

    &--vertical {
      display        : flex;
      flex-direction : column;
      align-items    : flex-start;
      justify-content: flex-start;
    }

    &--full-width {
      width: 100%;
    }

    &--visible {
      flex-direction : row;
      flex-wrap      : wrap;
      align-items    : center;
      justify-content: center;

      .nav__item {
        display      : inline-block;
        width        : auto;
        margin-bottom: 10px;
        margin-left  : 12px;
      }
    }

    .nav--top & {
      flex-direction : column;
      justify-content: flex-start;
      align-items    : flex-start;
      @media (min-width: 1200px) {
        flex-direction: row;
      }
    }
  }

  &__item {
    // Styles
    transition: all 500ms ease-in-out;
    // Modifiers
    &--top {
      color         : $black;
      font-size     : 16px;
      font-weight   : normal;
      line-height   : 20px;
      text-transform: uppercase;
      margin-bottom : 18px;
      @media (min-width: 1200px) {
        margin-top    : 2px;
        margin-right  : 42px;
        margin-left   : -2px;
        color         : #fff;
        font-size     : 16px;
        font-weight   : bold;
        line-height   : 20px;
        text-transform: none;
      }
      @media (min-width: 1600px) {
        font-size: 18px;
      }
      @media (min-width: 1920px) {
        font-size     : 18px;
      }
    }

    &--top-scroll {
      color: $grey-dark;
    }

    &--main {
      margin-bottom : 10px;
      font-size     : 12px;
      font-weight   : normal;
      line-height   : 20px;
      text-transform: uppercase;
      @media (min-width: 1200px) {
        font-size    : 16px;
        line-height  : 20px;
        margin-bottom: 15px;
      }
      @media (min-width: 1600px) {
        font-size    : 18px;
        margin-bottom: 25px;
      }
      @media (min-width: 1920px) {
        margin-bottom: 20px;
        font-size    : 18px;
        line-height  : 20px;
        margin-bottom: 25px;
      }
    }

    &--map {
      display    : none;
      color      : $white;
      font-size  : 16px;
      font-weight: normal;
      text-align : center;

      &.nav__item--active {
        display: block;
        width  : 100%;
        order  : -1;
        margin : 0 0 25px;
        @media (min-width: 1200px) {
          order: 0;
          margin-bottom: 15px;
        }
        @media (min-width: 1920px) {
          order: 0;
          margin-bottom: 25px;
        }
      }
      @media (min-width: 1200px) {
        margin-bottom: 15px;
        font-size    : 16px;
        display      : block;
        text-align   : left;
      }
      @media (min-width: 1920px) {
        margin-bottom: 25px;
        font-size    : 20px;
      }
    }

    &--map-first {}

    &--border {
      flex          : 1 1 auto;
      padding-bottom: 22px;
      border-right  : 1px solid $grey-light;
      text-align    : center;

      &:last-of-type {
        margin-bottom: 10px;
        font-size    : 20px;
        font-weight  : 400;
      }

      .nav--socials &:last-of-type {
        border-right : 0;
        margin-bottom: 0;
      }
    }

    &--tabs {
      margin-bottom: 15px;
      font-size    : 16px;
      font-weight  : 400;
      width        : 50%;
      @media (min-width: 1200px) {
        margin-bottom: 25px;
        font-size    : 20px;
      }
    }

    &--submenu {
      flex          : 1 1 auto;
      padding       : 0;
      border-right  : 1px solid $brand;
      font-size     : 9px;
      line-height   : 20px;
      text-transform: uppercase;
      color         : $white;
      text-align    : center;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        border-right: 0;
      }
      @media (min-width: 1200px) {
        font-size: 10px;
        padding  : 0 15px;
        color    : $grey-dark;
      }
      @media (min-width: 1920px) {
        font-size: 14px;
        padding  : 0 15px;
        color    : $grey-dark;
      }
    }

    &--years {
      margin-right : 19px;
      margin-bottom: 0;
    }

    &--active {
      color: $brand;
    }
  }
  // Modifiers
  &--top {
    // display: none;
    margin-bottom: 4px;
    @media (min-width: 1200px) {
      display: block;
    }
  }

  &--main {
    width        : 100%;
    margin-bottom: 44px;
    @media (min-width: 1200px) {
      position: absolute;
      top     : 150px;
    }
    @media (min-width: 1920px) {
      top     : 216px;
    }
  }

  &--map {
    padding: 30px 0 21px;
  }

  &--socials {
    width   : 100%;
    // margin  : 0 -30px;
    float   : none;
    position: relative;
    bottom  : 0;
    @media (min-width: 1200px) {
      margin  : 0 -30px;
      position: absolute;
    }
    @media (min-width: 1600px) {
      margin  : 0 -40px;
    }
    @media (min-width: 1920px) {
      margin  : 0 -48px;
    }
  }

  &--tabs {
    margin-bottom: 14px;

    .nav__list--vertical {
      flex-direction: row;
      flex-wrap     : wrap;
      height        : 66px;

      @media (min-width: 1200px) {
        flex-direction: column;
        flex-wrap: nowrap;
      }
    }
  }

  &--years {
    margin-bottom: 0;
    margin-top: 8px;
    margin-right: -19px;
    float        : right;
    height       : 45px;
    @media (min-width: 1200px) {
      margin-bottom: 0;
      margin-top   : 14px;
      margin-right : 45px;
      float        : right;
      height       : 45px;
    }
    @media (min-width: 1600px) {
      margin-right : 45px;
    }
    @media (min-width: 1920px) {
      margin-right: 193px;
    }
  }

  &--submenu {
    width           : auto;
    margin          : 0 -30px;
    background-color: $grey-dark;
    padding         : 22px 15px 18px 15px;
    display         : none;

    @media (min-width: 1200px) {
      width           : 85%;
      margin          : 0 0 74px;
      padding         : 0;
      background-color: transparent;
      display         : block;
    }
    @media (min-width: 1600px) {
      width: 100%;

      .nav__list {
        flex-wrap: wrap;

        > .nav__item {
          padding: 0;
        }
      }
    }
    @media (min-width: 1920px) {
      width           : 425px;
      margin          : 0 0 74px;
      padding         : 0;
      background-color: transparent;
      display         : block;

      .main--build & {
        width: 447px;
      }
    }

    .main--build & {
      // width: 100%;
      margin-bottom: 30px;
      @media (min-width: 1200px) {
        width: 89%;
        margin-top: -9px;
      }
      @media (min-width: 1600px) {
        width: 85%;
        margin-left: -15px;
      }
      @media (min-width: 1920px) {
        width: 447px;
        margin-top: 0;
      }
    }

    .main--buy & {
      @media (min-width: 1200px) {
        margin-left: 0;
      }
      @media (min-width: 1600px) {
        margin-left: -25px;
      }
      @media (min-width: 1920px) {
        margin-left: -14px;
      }
    }

    .main--about & {
      @media (min-width: 1200px) {
        margin-left: -5px;
      }
      @media (min-width: 1600px) {
        margin-left: -30px;
      }
      @media (min-width: 1920px) {
        margin-left: -19px;
      }
    }
  }

  &--submenu-first {
    display: block;
  }

  &--subheader-sticky {
    position: fixed;
    top     : 75px;
    left    : 0;
    width   : 100%;
    z-index : 55;
    margin  : 0;
  }
}
