.input {
  width      : 100%;
  outline    : none;
  font-family: $font-sans;

  &:active {
    outline: none;
  }

  &--text {
    margin-bottom: 14px;
    padding      : 18px 24px;
    border       : 1px solid $brand;
    color        : $black;
    font-size    : 12px;
    font-weight  : 400;
    line-height  : 1;
    @media (min-width: 1200px) {
      font-size    : 14px;
      line-height  : 16px;
      padding      : 16px 24px;
      margin-bottom: 10px;
    }
    @media (min-width: 1600px) {
      font-size: 16px;
    }
    @media (min-width: 1920px) {
      font-size    : 16px;
      padding      : 21px 24px 21px 19px;
      margin-bottom: 15px;
    }

    ::-webkit-input-placeholder {
      color: $grey-light;
    }

    ::-moz-placeholder {
      color: $grey-light;
    }

    :-ms-input-placeholder {
      color: $grey-light;
    }

    :-moz-placeholder {
      color: $grey-light;
    }

    & {
      max-height: 100px;
      @media (min-width: 1920px) {
        max-height: auto;
      }
    }
  }

  &--checkbox {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 0;
    height  : 0;
    cursor  : pointer;

    &::before {
      display : block;
      position: absolute;
      top     : 5px;
      left    : 0;
      width   : 25px;
      height  : 25px;
      border  : 1px solid $brand;
      content : '';
      @media (min-width: 1200px) {
        left  : 0;
        top   : 8px;
        width : 30px;
        height: 30px;
      }
      @media (min-width: 1600px) {
        left: 5px;
        top : 5px;
      }
    }

    &:checked::after {
      display         : block;
      position        : absolute;
      top             : 7.5px;
      left            : 2.5px;
      width           : 20px;
      height          : 20px;
      background-color: $brand;
      content         : '';
      @media (min-width: 1200px) {
        top : 13px;
        left: 5px;
      }
      @media (min-width: 1600px) {
        left: 10px;
        top : 10px;
      }
    }
  }
}

span.input--error {
  position   : absolute;
  top        : 18px;
  right      : 0;
  width      : 190px;
  color      : $brand;
  font-size  : 12px;
  font-weight: 400;
  line-height: 60px;
  @media (min-width: 1200px) {
    top        : 0;
    width      : 240px;
    font-size  : 14px;
    line-height: 50px;

    .label--checkbox & {
      top: 4px;
    }
  }
  @media (min-width: 1600px) {
    top        : 0;
    width      : 240px;
    font-size  : 14px;
    line-height: 50px;
  }
  @media (min-width: 1920px) {
    top        : 0;
    width      : 260px;
    font-size  : 16px;
    line-height: 60px;
  }
}

.label {
  display : block;
  position: relative;
  width   : 100%;

  &--checkbox {
    height       : 40px;
    margin-top   : 5px;
    margin-bottom: 22px;
    padding-top  : 6px;
    padding-left : 37px;
    line-height  : 1.2;
    cursor       : pointer;
    @media (min-width: 1200px) {
      padding-left : 45px;
      margin-top   : -8px;
      margin-bottom: 15px;
      padding-top: 10px;
    }
    @media (min-width: 1600px) {
      margin-top   : 0;
      margin-bottom: 25px;
      margin-left  : -5px;
      // padding-top: 6px;
    }
    @media (min-width: 1920px) {
      margin-bottom: 25px;
    }
  }

  &:last-of-type {
    .form--modal & {
      margin: 31px 0 35px -5px;
    }
  }
}
