extends ../layout/_layout.pug
block vars
  - var pageTitle = 'Преимущества'
  - var bodyClass = ''

block content
  // Top Panel
  include ../includes/_top-panel-inner
  // Top Panel End
  // SideBar
  include ../includes/_sidebar
  // SideBar End

  // Main
  main.main
    // Section About
    section.section.slide(data-hash='hood')#hood
      .grid
        .row.row--full
          .col.col--left.col--left-no-border.col--margin-left.col--margin-vertical
            h2.heading.heading--primary.heading--primary-inner Преимущества
            nav.nav.nav--submenu.nav--submenu-first
              ul.nav__list.nav__list--horizontal
                li.nav__item.nav__item--submenu.nav__item--active
                  a.link.link--nav(href='#hood') Двор
                li.nav__item.nav__item--submenu
                  a.link.link--nav(href='#flat') Квартиры
                li.nav__item.nav__item--submenu
                  a.link.link--nav(href='#parking') Паркинг
                li.nav__item.nav__item--submenu
                  a.link.link--nav(href='#comfort') Комфорт
            h3.heading.heading--secondary.heading--secondary-inner Двор
            p.paragraph.paragraph--inner.text.text--normal
              | «Геометрия» обрамлена просторным и приватным двором, полным приятных уголков: тут есть
              | детская площадка, место для занятий спортом, зоны для отдыха и широкие тротуары. Во дворе
              | ЖК уютно, чисто и зелено — отличное место, где можно провести время с семьей или прогуляться
              | в одиночестве.
          .col.col--center.col--margin-vertical
            .scrollbar-rail.wrap.wrap--index-card-scroll
              ul.list.list--cards.list--cards-index
                li.list__item.list__item--card
                  a.link.link--card.card.card--features(href='#playground')
                    span.card__inner
                      span.card__image
                        img.image.image--card(src='../images/features/1-1-playground.jpg', alt='Детские площадки')
                      span.card__title
                        h4.heading.heading--card Детские площадки
                      span.card__text
                        span.text.text--normal
                          | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                          | чемпионат по настольному теннису на спортивных площадках ЖК.

                li.list__item.list__item--card
                  a.link.link--card.card.card--features(href='#closed-area')
                    span.card__inner
                      span.card__image
                        img.image.image--card(src='../images/features/1-2-closed-area.jpg', alt='Детские площадки')
                      span.card__title
                        h4.heading.heading--card Закрытая территория
                      span.card__text
                        span.text.text--normal
                          | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                          | чемпионат по настольному теннису на спортивных площадках ЖК.

                li.list__item.list__item--card
                  a.link.link--card.card.card--features(href='#rest-zone')
                    span.card__inner
                      span.card__image
                        img.image.image--card(src='../images/features/1-3-rest-zone.jpg', alt='Детские площадки')
                      span.card__title
                        h4.heading.heading--card Зоны для отдыха детей и взрослых
                      span.card__text
                        span.text.text--normal
                          | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                          | чемпионат по настольному теннису на спортивных площадках ЖК.

                li.list__item.list__item--card
                  a.link.link--card.card.card--features(href='#sports-ground')
                    span.card__inner
                      span.card__image
                        img.image.image--card(src='../images/features/1-4-sports-ground.jpg', alt='Детские площадки')
                      span.card__title
                        h4.heading.heading--card Спортивные площадки
                      span.card__text
                        span.text.text--normal
                          | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                          | чемпионат по настольному теннису на спортивных площадках ЖК.
    // Section About End
    // Section About
    section.section.slide(data-hash='flat')#flat
      .grid
        .row.row--full
          .col.col--left.col--left-no-border.col--margin-left.col--margin-vertical
            h2.heading.heading--primary.heading--primary-inner Преимущества
            nav.nav.nav--submenu
              ul.nav__list.nav__list--horizontal
                li.nav__item.nav__item--submenu
                  a.link.link--nav(href='#hood') Двор
                li.nav__item.nav__item--submenu.nav__item--active
                  a.link.link--nav(href='#flat') Квартиры
                li.nav__item.nav__item--submenu
                  a.link.link--nav(href='#parking') Паркинг
                li.nav__item.nav__item--submenu
                  a.link.link--nav(href='#comfort') Комфорт
            h3.heading.heading--secondary.heading--secondary-inner Квартиры
            p.paragraph.paragraph--inner.text.text--normal
              | Квартиры «Геометрии» — уютные и светлые,
              | семь раз измеренные и один раз отлично
              | отремонтированные «под ключ». Все готово —
              | будущим жителям нужно просто перевезти свои
              | вещи и начать жить! Кстати, книги, постельное
              | белье, кухонную утварь и всё то, что не
              | поместится в шкафы, можно спрятать
              | на удобных антресолях. Это интерьерное
              | решение есть в каждой квартире!
          .col.col--center.col--margin-vertical
            .scrollbar-rail.wrap.wrap--index-card-scroll
              ul.list.list--cards.list--cards-index
                li.list__item.list__item--card
                  a.link.link--card.card.card--features(href='#playground')
                    span.card__inner
                      span.card__image
                        img.image.image--card(src='../images/features/1-1-playground.jpg', alt='Детские площадки')
                      span.card__title
                        h4.heading.heading--card Тёплые и удобные
                      span.card__text
                        span.text.text--normal
                          | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                          | чемпионат по настольному теннису на спортивных площадках ЖК.

                li.list__item.list__item--card
                  a.link.link--card.card.card--features(href='#closed-area')
                    span.card__inner
                      span.card__image
                        img.image.image--card(src='../images/features/1-2-closed-area.jpg', alt='Детские площадки')
                      span.card__title
                        h4.heading.heading--card Закрытая территория
                      span.card__text
                        span.text.text--normal
                          | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                          | чемпионат по настольному теннису на спортивных площадках ЖК.

                li.list__item.list__item--card
                  a.link.link--card.card.card--features(href='#rest-zone')
                    span.card__inner
                      span.card__image
                        img.image.image--card(src='../images/features/1-3-rest-zone.jpg', alt='Детские площадки')
                      span.card__title
                        h4.heading.heading--card Зоны для отдыха детей и взрослых
                      span.card__text
                        span.text.text--normal
                          | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                          | чемпионат по настольному теннису на спортивных площадках ЖК.

                li.list__item.list__item--card
                  a.link.link--card.card.card--features(href='#sports-ground')
                    span.card__inner
                      span.card__image
                        img.image.image--card(src='../images/features/1-4-sports-ground.jpg', alt='Детские площадки')
                      span.card__title
                        h4.heading.heading--card Спортивные площадки
                      span.card__text
                        span.text.text--normal
                          | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                          | чемпионат по настольному теннису на спортивных площадках ЖК.
    // Section About End
    // Section About
    section.section.slide(data-hash='parking')#parking
      .grid
        .row.row--full
          .col.col--left.col--left-no-border.col--margin-left.col--margin-vertical
            h2.heading.heading--primary.heading--primary-inner Преимущества
            nav.nav.nav--submenu
              ul.nav__list.nav__list--horizontal
                li.nav__item.nav__item--submenu
                  a.link.link--nav(href='#hood') Двор
                li.nav__item.nav__item--submenu
                  a.link.link--nav(href='#flat') Квартиры
                li.nav__item.nav__item--submenu.nav__item--active
                  a.link.link--nav(href='#parking') Паркинг
                li.nav__item.nav__item--submenu
                  a.link.link--nav(href='#comfort') Комфорт
            h3.heading.heading--secondary.heading--secondary-inner Паркинг
            p.paragraph.paragraph--inner.text.text--normal
              | Жители «Геометрии» могут больше времени
              | проводить со своей семьей: у них нет
              | необходимости искать парковочное место
              | вечером, счищать снег с крыши автомобиля
              | утром и тратить на все это золотые минуты жизни.
              | Машина ждёт их в двух шагах от дома:
              | на просторном охраняемом паркинге.
              | Места хватит всем!
          .col.col--center.col--margin-vertical
            .scrollbar-rail.wrap.wrap--index-card-scroll
              ul.list.list--cards.list--cards-index
                li.list__item.list__item--card
                  a.link.link--card.card.card--features(href='#playground')
                    span.card__inner
                      span.card__image
                        img.image.image--card(src='../images/features/1-1-playground.jpg', alt='Детские площадки')
                      span.card__title
                        h4.heading.heading--card Тёплые и удобные
                      span.card__text
                        span.text.text--normal
                          | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                          | чемпионат по настольному теннису на спортивных площадках ЖК.

                li.list__item.list__item--card
                  a.link.link--card.card.card--features(href='#closed-area')
                    span.card__inner
                      span.card__image
                        img.image.image--card(src='../images/features/1-2-closed-area.jpg', alt='Детские площадки')
                      span.card__title
                        h4.heading.heading--card Закрытая территория
                      span.card__text
                        span.text.text--normal
                          | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                          | чемпионат по настольному теннису на спортивных площадках ЖК.

                li.list__item.list__item--card
                  a.link.link--card.card.card--features(href='#rest-zone')
                    span.card__inner
                      span.card__image
                        img.image.image--card(src='../images/features/1-3-rest-zone.jpg', alt='Детские площадки')
                      span.card__title
                        h4.heading.heading--card Зоны для отдыха детей и взрослых
                      span.card__text
                        span.text.text--normal
                          | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                          | чемпионат по настольному теннису на спортивных площадках ЖК.

                li.list__item.list__item--card
                  a.link.link--card.card.card--features(href='#sports-ground')
                    span.card__inner
                      span.card__image
                        img.image.image--card(src='../images/features/1-4-sports-ground.jpg', alt='Детские площадки')
                      span.card__title
                        h4.heading.heading--card Спортивные площадки
                      span.card__text
                        span.text.text--normal
                          | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                          | чемпионат по настольному теннису на спортивных площадках ЖК.
    // Section About End
    // Section About
    section.section.slide(data-hash='comfort')#comfort
      .grid
        .row.row--full
          .col.col--left.col--left-no-border.col--margin-left.col--margin-vertical
            h2.heading.heading--primary.heading--primary-inner Преимущества
            nav.nav.nav--submenu
              ul.nav__list.nav__list--horizontal
                li.nav__item.nav__item--submenu
                  a.link.link--nav(href='#hood') Двор
                li.nav__item.nav__item--submenu
                  a.link.link--nav(href='#flat') Квартиры
                li.nav__item.nav__item--submenu
                  a.link.link--nav(href='#parking') Паркинг
                li.nav__item.nav__item--submenu.nav__item--active
                  a.link.link--nav(href='#comfort') Комфорт
            h3.heading.heading--secondary.heading--secondary-inner Комфорт
            p.paragraph.paragraph--inner.text.text--normal
              | В квартирах есть все коммуникации —
              | от интернета до домофона. В ванной и коридоре
              | установлены счётчики водоснабжения
              | и электроэнергии, а на лоджиях всегда тепло
              | и уютно благодаря радиаторам отопления.
              | Комфорт не заканчивается квартирой:
              | на первых этажах домов есть специально
              | оборудованные комнаты, где можно оставить
              | коляски и велосипеды, вымыть ламы домашним
              | питомцам и спокойно отправиться домой.
          .col.col--center.col--margin-vertical
            .scrollbar-rail.wrap.wrap--index-card-scroll
              ul.list.list--cards.list--cards-index
                li.list__item.list__item--card
                  a.link.link--card.card.card--features(href='#playground')
                    span.card__inner
                      span.card__image
                        img.image.image--card(src='../images/features/1-1-playground.jpg', alt='Детские площадки')
                      span.card__title
                        h4.heading.heading--card Тёплые и удобные
                      span.card__text
                        span.text.text--normal
                          | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                          | чемпионат по настольному теннису на спортивных площадках ЖК.

                li.list__item.list__item--card
                  a.link.link--card.card.card--features(href='#closed-area')
                    span.card__inner
                      span.card__image
                        img.image.image--card(src='../images/features/1-2-closed-area.jpg', alt='Детские площадки')
                      span.card__title
                        h4.heading.heading--card Места для хранения велосипедов и колясок
                      span.card__text
                        span.text.text--normal
                          | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                          | чемпионат по настольному теннису на спортивных площадках ЖК.

                li.list__item.list__item--card
                  a.link.link--card.card.card--features(href='#rest-zone')
                    span.card__inner
                      span.card__image
                        img.image.image--card(src='../images/features/1-3-rest-zone.jpg', alt='Детские площадки')
                      span.card__title
                        h4.heading.heading--card Место, где можно вымыть лапы собакам и велосипеды
                      span.card__text
                        span.text.text--normal
                          | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                          | чемпионат по настольному теннису на спортивных площадках ЖК.

                li.list__item.list__item--card
                  a.link.link--card.card.card--features(href='#sports-ground')
                    span.card__inner
                      span.card__image
                        img.image.image--card(src='../images/features/1-4-sports-ground.jpg', alt='Детские площадки')
                      span.card__title
                        h4.heading.heading--card Спортивные площадки
                      span.card__text
                        span.text.text--normal
                          | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                          | чемпионат по настольному теннису на спортивных площадках ЖК.
    // Section About End

    // Main End
    .modal.modal--form#js-modal-form
      a(href='#' rel="modal:close").btn.btn--transparent.modal__close
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39 38').icon.icon--close
          path(fill-rule='evenodd', d='M36.117.261l2.121 2.121L2.883 37.738.761 35.617 36.117.261z')
          path(fill-rule='evenodd', d='M1.012 2.104L3.161.011l35.827 34.884-2.15 2.093L1.012 2.104z')

      .modal__inner
        h4.heading.heading--modal Оставьте заявку на&nbsp;бесплатную&nbsp;консультацию

        form(action="", method="get").form.form--modal
          label(for="nameForm").label
            input(type="text", id=nameForm, name="name", value="", placeholder="Ваше Имя*", required='', autocomplete='off').input.input--text
          label(for="phoneForm").label.label--modal
            input(type="text", id=phoneForm, name="phone", value="", placeholder="Ваш Телефон*", required='', autocomplete='off').input.input--text.input--phone
          label(for="agreeForm").label.label--checkbox.text--xsmall.text--regular
            | Согласен на обработку персональных данных.
            br
            a(href="#").link.link--underline Политика конфиденциальности*
            input(type="checkbox", name="check", id='agreeForm', required='').input.input--checkbox
          input(type="submit", name="submit", value="Отправить", disabled='disabled').btn.btn--base#js-form-submit

    .modal.modal--success#js-modal-success
      a(href='#' rel="modal:close").btn.btn--transparent.modal__close
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39 38').icon.icon--close
          path(fill-rule='evenodd', d='M36.117.261l2.121 2.121L2.883 37.738.761 35.617 36.117.261z')
          path(fill-rule='evenodd', d='M1.012 2.104L3.161.011l35.827 34.884-2.15 2.093L1.012 2.104z')

      .modal__inner
        h4.heading.heading--modal Спасибо!

        span.text.text--normal.text--regular
          | Ваша заявка успешно отправлена!
          br
          | Наш менеджер свяжется в вами в ближайшее время

        a(href='#' rel="modal:close").link.btn.btn--base Хорошо

block scripts
  script(async='', src='https://d4nyll.github.io/smartscroll/EventEmitter.min.js')
  script(async='', src='https://d4nyll.github.io/smartscroll/lethargy.min.js')
