extends ../layout/_layout.pug
block vars
  - var pageTitle = 'Преимущества'
  - var bodyClass = ''

block content
  // Top Panel
  include ../includes/_top-panel-inner
  // Top Panel End
  // SideBar
  include ../includes/_sidebar
  // SideBar End

  // Main
  main.main
  // Section About
  section.section.slide(data-hash='hood')
    .grid
      .row.row--full
        .col.col--left.col--left-no-border.col--margin-left.col--margin-vertical
          h2.heading.heading--primary.heading--primary-inner Преимущества
          nav.nav.nav--submenu
            ul.nav__list.nav__list--horizontal
              li.nav__item.nav__item--submenu.nav__item--active
                a.link.link--nav(href='#') Двор
              li.nav__item.nav__item--submenu
                a.link.link--nav(href='#') Квартиры
              li.nav__item.nav__item--submenu
                a.link.link--nav(href='#') Паркинг
              li.nav__item.nav__item--submenu
                a.link.link--nav(href='#') Комфорт
          h3.heading.heading--secondary.heading--secondary-inner Двор
          p.paragraph.paragraph--inner.text.text--normal
            | «Геометрия» обрамлена просторным и приватным двором, полным приятных уголков: тут есть
            | детская площадка, место для занятий спортом, зоны для отдыха и широкие тротуары. Во дворе
            | ЖК уютно, чисто и зелено — отличное место, где можно провести время с семьей или прогуляться
            | в одиночестве.
        .col.col--center.col--center-full.col--vertical-center
          ul.list.list--unstyled.list--cards
            li.list__item.list__item--card.list__item--card-active
              a.link.link--card.card.card--active(href='')
                span.card__image(style="background-image: url('../images/features/1-1-playground-big.jpg');")
                span.card__title
                  h4.heading.heading--card Детские площадки
                span.card__text
                  span.text.text--normal
                    | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                    | чемпионат по настольному теннису на спортивных площадках ЖК.
            li.list__item.list__item--card
              a.link.link--card.card(href='')
                span.card__image(style="background-image: url('../images/features/1-1-playground-big.jpg');")
                span.card__title
                  h4.heading.heading--card Закрытая территория
                span.card__text
                  span.text.text--normal
                    | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                    | чемпионат по настольному теннису на спортивных площадках ЖК.
            li.list__item.list__item--card
              a.link.link--card.card(href='')
                span.card__image(style="background-image: url('../images/features/1-1-playground-big.jpg');")
                span.card__title
                  h4.heading.heading--card Зоны для отдыха детей и взрослых
                span.card__text
                  span.text.text--normal
                    | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                    | чемпионат по настольному теннису на спортивных площадках ЖК.
            li.list__item.list__item--card
              a.link.link--card.card(href='')
                span.card__image(style="background-image: url('../images/features/1-1-playground-big.jpg');")
                span.card__title
                  h4.heading.heading--card Спортивные площадки
                span.card__text
                  span.text.text--normal
                    | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                    | чемпионат по настольному теннису на спортивных площадках ЖК.
  // Section About End
  // Section About
  section.section.slide(data-hash='flat')
    .grid
      .row.row--full
        .col.col--left.col--left-no-border.col--margin-left.col--margin-vertical
          h2.heading.heading--primary.heading--primary-inner Преимущества
          nav.nav.nav--submenu
            ul.nav__list.nav__list--horizontal
              li.nav__item.nav__item--submenu
                a.link.link--nav(href='#') Двор
              li.nav__item.nav__item--submenu.nav__item--active
                a.link.link--nav(href='#') Квартиры
              li.nav__item.nav__item--submenu
                a.link.link--nav(href='#') Паркинг
              li.nav__item.nav__item--submenu
                a.link.link--nav(href='#') Комфорт
          h3.heading.heading--secondary.heading--secondary-inner Квартиры
          p.paragraph.paragraph--inner.text.text--normal
            | Квартиры «Геометрии» — уютные и светлые,
            | семь раз измеренные и один раз отлично
            | отремонтированные «под ключ». Все готово —
            | будущим жителям нужно просто перевезти свои
            | вещи и начать жить! Кстати, книги, постельное
            | белье, кухонную утварь и всё то, что не
            | поместится в шкафы, можно спрятать
            | на удобных антресолях. Это интерьерное
            | решение есть в каждой квартире!
        .col.col--center.col--center-full.col--vertical-center
          ul.list.list--unstyled.list--cards
            li.list__item.list__item--card
              a.link.link--card.card(href='')
                span.card__image(style="background-image: url('../images/features/1-1-playground-big.jpg');")
                span.card__title
                  h4.heading.heading--card Тёплые и удобные
                span.card__text
                  span.text.text--normal
                    | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                    | чемпионат по настольному теннису на спортивных площадках ЖК.
            li.list__item.list__item--card
              a.link.link--card.card(href='')
                span.card__image(style="background-image: url('../images/features/1-1-playground-big.jpg');")
                span.card__title
                  h4.heading.heading--card Интернет, домофон, телефония
                span.card__text
                  span.text.text--normal
                    | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                    | чемпионат по настольному теннису на спортивных площадках ЖК.
            li.list__item.list__item--card
              a.link.link--card.card(href='')
                span.card__image(style="background-image: url('../images/features/1-1-playground-big.jpg');")
                span.card__title
                  h4.heading.heading--card Ремонт «под ключ»
                span.card__text
                  span.text.text--normal
                    | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                    | чемпионат по настольному теннису на спортивных площадках ЖК.
            li.list__item.list__item--card
              a.link.link--card.card(href='')
                span.card__image(style="background-image: url('../images/features/1-1-playground-big.jpg');")
                span.card__title
                  h4.heading.heading--card Антресоли в каждой квартире
                span.card__text
                  span.text.text--normal
                    | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                    | чемпионат по настольному теннису на спортивных площадках ЖК.
  // Section About End
  // Section About
  section.section.slide(data-hash='parking')
    .grid
      .row.row--full
        .col.col--left.col--left-no-border.col--margin-left.col--margin-vertical
          h2.heading.heading--primary.heading--primary-inner Преимущества
          nav.nav.nav--submenu
            ul.nav__list.nav__list--horizontal
              li.nav__item.nav__item--submenu
                a.link.link--nav(href='#') Двор
              li.nav__item.nav__item--submenu
                a.link.link--nav(href='#') Квартиры
              li.nav__item.nav__item--submenu.nav__item--active
                a.link.link--nav(href='#') Паркинг
              li.nav__item.nav__item--submenu
                a.link.link--nav(href='#') Комфорт
          h3.heading.heading--secondary.heading--secondary-inner Паркинг
          p.paragraph.paragraph--inner.text.text--normal
            | Жители «Геометрии» могут больше времени
            | проводить со своей семьей: у них нет
            | необходимости искать парковочное место
            | вечером, счищать снег с крыши автомобиля
            | утром и тратить на все это золотые минуты жизни.
            | Машина ждёт их в двух шагах от дома:
            | на просторном охраняемом паркинге.
            | Места хватит всем!
        .col.col--center.col--center-full.col--vertical-center
          ul.list.list--unstyled.list--cards
            li.list__item.list__item--card
              a.link.link--card.card(href='')
                span.card__image(style="background-image: url('../images/features/1-1-playground-big.jpg');")
                span.card__title
                  h4.heading.heading--card Первый уровень паркинга
                span.card__text
                  span.text.text--normal
                    | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                    | чемпионат по настольному теннису на спортивных площадках ЖК.
            li.list__item.list__item--card
              a.link.link--card.card(href='')
                span.card__image(style="background-image: url('../images/features/1-1-playground-big.jpg');")
                span.card__title
                  h4.heading.heading--card Второй уровень паркинга
                span.card__text
                  span.text.text--normal
                    | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                    | чемпионат по настольному теннису на спортивных площадках ЖК.
            li.list__item.list__item--card
              a.link.link--card.card(href='')
                span.card__image(style="background-image: url('../images/features/1-1-playground-big.jpg');")
                span.card__title
                  h4.heading.heading--card Прямо рядом с домом
                span.card__text
                  span.text.text--normal
                    | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                    | чемпионат по настольному теннису на спортивных площадках ЖК.
            li.list__item.list__item--card
              a.link.link--card.card(href='')
                span.card__image(style="background-image: url('../images/features/1-1-playground-big.jpg');")
                span.card__title
                  h4.heading.heading--card Большая территория
                span.card__text
                  span.text.text--normal
                    | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                    | чемпионат по настольному теннису на спортивных площадках ЖК.
  // Section About End
  // Section About
  section.section.slide(data-hash='comfort')
    .grid
      .row.row--full
        .col.col--left.col--left-no-border.col--margin-left.col--margin-vertical
          h2.heading.heading--primary.heading--primary-inner Преимущества
          nav.nav.nav--submenu
            ul.nav__list.nav__list--horizontal
              li.nav__item.nav__item--submenu
                a.link.link--nav(href='#') Двор
              li.nav__item.nav__item--submenu
                a.link.link--nav(href='#') Квартиры
              li.nav__item.nav__item--submenu
                a.link.link--nav(href='#') Паркинг
              li.nav__item.nav__item--submenu.nav__item--active
                a.link.link--nav(href='#') Комфорт
          h3.heading.heading--secondary.heading--secondary-inner Комфорт
          p.paragraph.paragraph--inner.text.text--normal
            | В квартирах есть все коммуникации —
            | от интернета до домофона. В ванной и коридоре
            | установлены счётчики водоснабжения
            | и электроэнергии, а на лоджиях всегда тепло
            | и уютно благодаря радиаторам отопления.
            | Комфорт не заканчивается квартирой:
            | на первых этажах домов есть специально
            | оборудованные комнаты, где можно оставить
            | коляски и велосипеды, вымыть ламы домашним
            | питомцам и спокойно отправиться домой.
        .col.col--center.col--center-full.col--vertical-center
          ul.list.list--unstyled.list--cards
            li.list__item.list__item--card
              a.link.link--card.card(href='')
                span.card__image(style="background-image: url('../images/features/1-1-playground-big.jpg');")
                span.card__title
                  h4.heading.heading--card Видеодомофоны
                span.card__text
                  span.text.text--normal
                    | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                    | чемпионат по настольному теннису на спортивных площадках ЖК.
            li.list__item.list__item--card
              a.link.link--card.card(href='')
                span.card__image(style="background-image: url('../images/features/1-1-playground-big.jpg');")
                span.card__title
                  h4.heading.heading--card Места для хранения велосипедов и колясок
                span.card__text
                  span.text.text--normal
                    | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                    | чемпионат по настольному теннису на спортивных площадках ЖК.
            li.list__item.list__item--card
              a.link.link--card.card(href='')
                span.card__image(style="background-image: url('../images/features/1-1-playground-big.jpg');")
                span.card__title
                  h4.heading.heading--card Место, где можно вымыть лапы собакам и велосипеды
                span.card__text
                  span.text.text--normal
                    | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                    | чемпионат по настольному теннису на спортивных площадках ЖК.
            li.list__item.list__item--card
              a.link.link--card.card(href='')
                span.card__image(style="background-image: url('../images/features/1-1-playground-big.jpg');")
                span.card__title
                  h4.heading.heading--card Просторные светлые МОПы
                span.card__text
                  span.text.text--normal
                    | Для детей мы продумали игровые зоны, где можно знакомиться и общаться, а взрослые смогут устроить
                    | чемпионат по настольному теннису на спортивных площадках ЖК.
  // Section About End

  // Main End

block scripts
  script(async='', src='https://d4nyll.github.io/smartscroll/EventEmitter.min.js')
  script(async='', src='https://d4nyll.github.io/smartscroll/lethargy.min.js')
