.list {
  // Styles

  // Elements
  &__item {
    // Styles

    // Modifiers
    &--border-bottom {
      border-bottom: 1px solid $brand;
      padding-bottom: 21px;
      margin-bottom: 33px;

      &:last-of-type {
        border: 0;
      }
    }
  }

  // Modifiers

}
