.list {
  // Styles

  // Elements
  &__item {
    // Styles

    // Modifiers
    &--border-bottom {
      margin-bottom: 33px;
      border-bottom: 1px solid $brand;
      margin-bottom: 33px;

      &:last-of-type {
        border: 0;
      }
    }

    &--card {
      margin-right: 14px;
      position: relative;
      float: left;
      width: 300px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &--card-active {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }

    &--dot {
      position: relative;
      padding-left: 66px;
      margin-bottom: 19px;

      &:before {
        content: '•';
        display: block;
        font-size: 16px;
        height: auto;
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
      }
    }
  }

    margin: 0;
    padding: 0;
    list-style-type: none;

  &--unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &--cards {
    // display: flex;
    width: 100%;
    // padding: 14px;
    // justify-content: space-between;
    position: relative;
  }

  &--dot {

  }
}
