// .card {
//   // Styles
//   display         : block;
//   position        : relative;
//   width           : 100%;
//   background-color: inherit;
//   color           : inherit;
//   transition      : all 500ms ease-in-out;
//
//   @media (min-width: 1200px) {
//     height: 690px;
//   }
//   // Elements
//   &__front {
//     display: block;
//     height : 100%;
//   }
//
//   &__back {
//     display   : block;
//     position  : absolute;
//     left      : 100%;
//     bottom    : 100%;
//     width     : 100%;
//     height    : 100%;
//     transition: all 500ms ease-in-out;
//
//     &--hover {
//       left  : 0;
//       bottom: 0;
//     }
//   }
//
//   &__inner {
//     position: absolute;
//     top     : 0;
//     left    : 0;
//     width   : 100%;
//     height  : 100%;
//
//     @media (min-width: 1200px) {
//       padding : 30px 40px 30px 30px;
//     }
//   }
//
//   &__image {
//     display : block;
//     position: relative;
//     height  : 100%;
//   }
//
//   &__title {
//     display         : block;
//     position        : absolute;
//     bottom          : 0;
//     left            : 0;
//     width           : 100%;
//     background-color: inherit;
//     color           : inherit;
//     transition      : all 500ms ease-in-out;
//
//     @media (min-width: 1200px) {
//       max-width       : 300px;
//       height          : 140px;
//       padding         : 49px 39px;
//     }
//   }
//
//   &__text {
//     display   : block;
//     position  : absolute;
//     right     : 0;
//     bottom    : 0;
//     width     : 0;
//     height    : 140px;
//     padding   : 0;
//     overflow  : hidden;
//     color     : transparent;
//     transition: all 500ms ease-in-out;
//   }
//
//   &__info {
//     z-index         : 15;
//     position        : absolute;
//     top             : 0;
//     right           : 0;
//     width           : 32.87px;
//     height          : 32.9px;
//     background-color: $grey-dark;
//     transition      : all ease 500ms;
//     cursor          : pointer;
//   }
//   // Modifiers
//   &--active {
//     border: 1px solid $brand;
//
//     .card__image {
//       width: 100%;
//     }
//
//     .card__title {
//       background-color: $brand;
//       color           : $grey-dark;
//     }
//
//     .card__text {
//       // display         : block;
//       width           : calc(100% - 300px);
//       padding         : 49px 39px;
//       background-color: $white;
//       color           : $grey-dark;
//     }
//   }
//
//   &--info {
//     border: 1px solid $brand;
//   }
//
//   &--banks {
//     overflow: hidden;
//
//     @media (min-width: 1200px) {
//       width   : 300px;
//       height  : 186px;
//     }
//
//     .card__inner {
//       padding: 27px 30px 30px;
//       width  : auto;
//       height : auto;
//     }
//
//     .card__image {
//       height       : auto;
//       margin-bottom: 26px;
//     }
//
//     .card__content {
//       margin-left: -2px;
//     }
//
//     .text--xsmall {
//       margin-bottom: 10px;
//     }
//   }
//
//   &--docs {
//     width   : 300px;
//     height  : 186px;
//     overflow: hidden;
//
//     .card__inner {
//       padding: 20px 25px;
//       width  : auto;
//       height : auto;
//     }
//
//     .card__image {
//       height       : auto;
//       margin-bottom: 6px;
//     }
//
//     .card__content {
//       margin-left: 3px;
//     }
//
//     .text--normal {
//       margin-bottom: 37px;
//     }
//   }
//
//   &--news {
//     width     : 300px;
//     height    : 335px;
//     overflow  : hidden;
//     transition: all 500ms ease-in-out;
//
//     &:hover {
//       .text--brand {
//         color     : $grey-dark;
//         transition: all 500ms ease-in-out;
//       }
//     }
//   }
// }

.card {
  // Styles
  position  : relative;
  transition: all 0.5s ease-in-out;
  // Media Queries
  // Elements
  &__front {
    // Styles
    display: block;
    height : 100%;
    width  : 100%;
    // Media Queries
  }

  &__back {
    // Styles
    display   : block;
    position  : absolute;
    left      : 101%;
    bottom    : 101%;
    width     : 100%;
    height    : 100%;
    transition: all 500ms ease-in-out;

    &--hover {
      left  : 0;
      bottom: 0;
    }
    // Media Queries
  }

  &__inner {
    // Styles
    display         : block;
    width           : auto;
    height          : auto;
    max-width       : 100%;
    max-height      : 100%;
    background-color: inherit;
    color           : inherit;
    // Media Queries
    //
    .card--banks & {
      padding: 20px 25px;
      @media (min-width: 1200px) {
        padding: 20px 25px;
        height : 100%;
      }
    }

    .card--docs & {
      padding: 22px 20px;
      @media (min-width: 1200px) {
        padding: 30px 40px 30px 30px;
      }
    }
  }

  &__image {
    // Styles
    display            : block;
    position           : relative;
    width              : 100%;
    background-position: top center;
    background-size    : cover;
    background-repeat  : no-repeat;

    .card--features & {
      height  : 247px;
      overflow: hidden;
      // Media Queries
      @media (min-width: 1200px) {
        height  : 690px;
        display : block;
        position: relative;
      }
    }

    .card--banks & {
      margin-bottom: 45px;
    }

    .card--news & {
      @include aspect-ratio(26, 19);
      display      : block;
      width        : 100%;
      margin-bottom: 6px;
    }
    // Media Queries
  }

  &__title {
    // Styles
    display         : block;
    max-height      : 120px;
    padding         : 20px;
    background-color: inherit;
    color           : inherit;

    .card--news & {
      height : 115px;
      padding: 30px 21px 18px 30px;

      .text {
        display     : block;
        height      : 40px;
        width       : 110px;
        float       : right;
        margin-right: -21px;
        border-left : 1px solid $brand;
      }
    }
    // Media Queries
    @media (min-width: 1200px) {
      left            : 0;
      width           : 100%;
      max-height      : 140px;
      height          : 140px;
      max-width       : 300px;
      padding         : 37px 39px;
      position        : absolute;
      bottom          : 0;
      background-color: inherit;
    }
  }

  &__text {
    // Styles
    display: none;
    // Media Queries
  }

  &__content {
    display: block;
    width  : auto;
    height : auto;

    .card--docs & {
      margin-left: 3px;
    }
  }

  &__info {
    // Styles
    z-index         : 15;
    position        : absolute;
    top             : 0;
    right           : 0;
    width           : 32.87px;
    height          : 32.9px;
    background-color: $grey-dark;
    transition      : all ease 500ms;
    cursor          : pointer;
    // Media Queries
  }
  // Modifiers
  // Type 1
  &--type-one {
    // Styles
    // Media Queries
  }

  &--features {
    // Styles
    display         : block;
    width           : 126px;
    height          : 367px;
    margin-right    : 8px;
    margin-bottom   : 20px;
    background-color: inherit;
    color           : inherit;

    &.card--active {
      width : 100%;
      height: 100%;
      margin: 0;
    }
    // Media Queries
    @media (min-width: 1200px) {
      height: 690px;
      width : 300px;
      float : left;
    }
  }

  &--news {
    // Styles
    display : block;
    width   : 100%;
    height  : 290px;
    overflow: hidden;
    // Media Queries
    @media (min-width: 1200px) {
      height: 335px;
    }
  }
  // Type 2
  &--type-two {
    // Styles
    // Media Queries
  }

  &--banks {
    // Styles
    height  : 186px;
    width   : 100%;
    overflow: hidden;
    border  : 1px solid $brand;
    // Media Queries
    @media (min-width: 1200px) {
      width: 300px;
    }
  }

  &--docs {
    // Styles
    width     : 100%;
    height    : 186px;
    border    : 1px solid $brand;
    box-sizing: border-box;

    .text--normal {
      margin-bottom: 37px;
    }
    // Media Queries
  }
}
