.tab {
  // Styles
  position: relative;
  width: 100%;
  height: 100%;

  // Media Queries

  // Elements
  &__inner {
    // Styles
    display: none;
    position: relative;
    width: 100%;
    height: 100%;

    // Modifiers
    &--active {
      display: block;
    }
  }

  // Modifiers

}
