extends ./layout/_layout.pug
block vars
  - var pageTitle = 'Главная'
  - var bodyClass = ''

block content
  // Top Panel
  include ./includes/_top-panel
  // Top Panel End
  // SideBar
  include ./includes/_sidebar
  // SideBar End
  // Main
  main.main.main--index
    // Hero
    header.hero.hero--main.slide(data-hash='welcome')
      h1.heading.heading--hero.text.text--white «Геометрия» — гармония от первого этажа до крыши
    // Hero End
    // Section About
    section.section.slide(data-hash='about')
      .grid
        .row.row--full
          .col.col--left.col--margin-left.col--margin-vertical
            h2.heading.heading--primary О проекте
            ul.list.list--vertical.list--unstyled
              li.list__item.list__item--border-bottom
                strong.text.text--big.time 3 мин
                span.text.text--normal.location
                  | до красивого
                  br
                  | парка
              li.list__item.list__item--border-bottom
                strong.text.text--big.time 5 мин
                span.text.text--normal.location
                  | до остановки
                  br
                  | транспорта
              li.list__item.list__item--border-bottom
                strong.text.text--big.time 15 мин
                span.text.text--normal.location до центра
          
          .col.col--center.col--margin-vertical
            h3.heading.heading--secondary Геометрия вашего комфорта: ЖК, где есть счастье
            p.paragraph.text.text--normal
              | Познакомьтесь с «Геометрией» — золотой пропорцией архитектуры и уюта.
              | Тут хочется дышать полной грудью в большом зеленом дворе, пускать с детьми
              | воздушных змеев, согреваться горячим чаем на светлой и уютной кухне.
              | Тут хочется жить!
            p.paragraph.text.text--normal
              | Продуманные планировки с антресолями, где можно хранить нужные вещи,
              | отделка квартир «под ключ», паркинг в двух минутах от дома, удобная
              | транспортная развязка, тихий и спокойный район — ЖК, в котором хорошо.
              | ЖК, где начинается новый отрезок жизни: самый счастливый и добрый.
          
          .col.col--right
            ul.gallery.gallery--vertical
              li.gallery__item.gallery__item--first
                a.link.link--gallery.strip(href='./app/images/gallery-big-1.jpg', data-strip-group='mygroup', data-fancybox='gallery', data-caption='Caption #1')
                  img.image.image--gallery(src='./images/gallery-thumb-1.jpg', alt='')
              li.gallery__item.gallery__item--second
                a.link.link--gallery.strip(href='./app/images/gallery-big-2.jpg', data-strip-group='mygroup', data-fancybox='gallery', data-caption='Caption #2')
                  img.image.image--gallery(src='./images/gallery-thumb-2.jpg', alt='')
              li.gallery__item.gallery__item--third
                a.link.link--gallery.strip(href='./app/images/gallery-big-1.jpg', data-strip-group='mygroup', data-fancybox='gallery', data-caption='Caption #3')
                  img.image.image--gallery(src='./images/gallery-thumb-3.jpg', alt='')
    // Section About End
    // Section Location
    section.section.section--no-margin.slide(data-hash='location')
      .grid
        .row
          .col.col--left.col--left-no-border.col--margin-left.col--margin-vertical.bg.bg--grey-dark
            h2.heading.heading--primary.text--white.heading--index-location Расположение
            nav.nav.nav--map
              ul#js-map-nav.nav__list.nav__list--vertical
                li.nav__item.nav__item--map.nav__item--map-first.nav__item--active
                  a#js-map-nav-show-all.link.link--nav(href='#') Все объекты
              button(type="button", name="js-map-nav-toggle")#js-map-nav-toggle.btn.btn--base.btn--map-nav-toggle
                svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 27 15').icon.icon--arrow
                  path(fill-rule='evenodd', d='M26.144-.006l.858.917-13.136 14.094-.858-.916L26.144-.006z')
                  path(fill-rule='evenodd', d='M-.005.915L.871.022l13.477 13.669-.876.892L-.005.915z')

                
          .col.col--center.col--center-full
            .map
              #map
    // Section Location End
    // Section Features
    section.section.slide(data-hash='features')
      .grid
        .row
          .col.col--left.col--left-no-border.col--margin-left.col--margin-vertical
            h2.heading.heading--primary Преимущества
            h3.heading.heading--nav-title Категории
            nav.nav.nav--tabs
              ul.nav__list.nav__list--vertical
                li.nav__item.nav__item--tabs.nav__item--active
                  a.link.link--nav.link--tab(href='#tab1') Двор
                li.nav__item.nav__item--tabs
                  a.link.link--nav.link--tab(href='#tab2') Квартиры
                li.nav__item.nav__item--tabs
                  a.link.link--nav.link--tab(href='#tab3') Паркинг
                li.nav__item.nav__item--tabs
                  a.link.link--nav.link--tab(href='#tab4') Комфорт
          .col.col--center.col--margin-vertical
            .tab.tab--index
              #tab1.tab__item.tab__item--active
                .scrollbar-rail.wrap.wrap--index-card-scroll
                  ul.list.list--unstyled.list--cards.list--cards-index
                    li.list__item.list__item--card
                      a.link.link--card.card.card--features(href='#playground')
                        span.card__inner
                          span.card__image
                            img.image.image--card(src='./images/features/1-1-playground.jpg', alt='Детские площадки')
                          span.card__title
                            h4.heading.heading--card Детские площадки
                    
                    li.list__item.list__item--card
                      a.link.link--card.card.card--features(href='#closed-area')
                        span.card__inner
                          span.card__image
                            img.image.image--card(src='./images/features/1-2-closed-area.jpg', alt='Детские площадки')
                          span.card__title
                            h4.heading.heading--card Закрытая территория
                    
                    li.list__item.list__item--card
                      a.link.link--card.card.card--features(href='#rest-zone')
                        span.card__inner
                          span.card__image
                            img.image.image--card(src='./images/features/1-3-rest-zone.jpg', alt='Детские площадки')
                          span.card__title
                            h4.heading.heading--card Зоны для отдыха детей и взрослых
                    
                    li.list__item.list__item--card
                      a.link.link--card.card.card--features(href='#sports-ground')
                        span.card__inner
                          span.card__image
                            img.image.image--card(src='./images/features/1-4-sports-ground.jpg', alt='Детские площадки')
                          span.card__title
                            h4.heading.heading--card Спортивные площадки
              
              #tab2.tab__item
                .scrollbar-rail.wrap.wrap--index-card-scroll
                  ul.list.list--unstyled.list--cards.list--cards-index
                    li.list__item.list__item--card
                      a.link.link--card.card.card--features(href='#warm-and-cozy')
                        span.card__inner
                          span.card__image
                            img.image.image--card(src='./images/features/2-1-warm-and-cozy.jpg', alt='Детские площадки')
                          span.card__title
                            h4.heading.heading--card Тёплые и удобные
                    
                    li.list__item.list__item--card
                      a.link.link--card.card.card--features(href='#connection')
                        span.card__inner
                          span.card__image
                            img.image.image--card(src='./images/features/2-2-connection.jpg', alt='Детские площадки')
                          span.card__title
                            h4.heading.heading--card Интернет, домофон, телефония
                    
                    li.list__item.list__item--card
                      a.link.link--card.card.card--features(href='#overhaul')
                        span.card__inner
                          span.card__image
                            img.image.image--card(src='./images/features/2-3-overhaul.jpg', alt='Детские площадки')
                          span.card__title
                            h4.heading.heading--card Ремонт «под ключ»
                    
                    li.list__item.list__item--card
                      a.link.link--card.card.card--features(href='#entresol')
                        span.card__inner
                          span.card__image
                            img.image.image--card(src='./images/features/2-4-entresol.jpg', alt='Детские площадки')
                          span.card__title
                            h4.heading.heading--card Антресоли в каждой квартире
              
              #tab3.tab__item
                .scrollbar-rail.wrap.wrap--index-card-scroll
                  ul.list.list--unstyled.list--cards.list--cards-index
                    li.list__item.list__item--card
                      a.link.link--card.card.card--features(href='#first-floor-parking')
                        span.card__inner
                          span.card__image
                            img.image.image--card(src='./images/features/3-1-first-floor-parking.jpg', alt='Детские площадки')
                          span.card__title
                            h4.heading.heading--card Первый уровень паркинга
                    
                    li.list__item.list__item--card
                      a.link.link--card.card.card--features(href='#second-floor-parking')
                        span.card__inner
                          span.card__image
                            img.image.image--card(src='./images/features/3-2-second-floor-parking.jpg', alt='Детские площадки')
                          span.card__title
                            h4.heading.heading--card Второй уровень паркинга
                    
                    li.list__item.list__item--card
                      a.link.link--card.card.card--features(href='#by-the-house')
                        span.card__inner
                          span.card__image
                            img.image.image--card(src='./images/features/3-3-by-the-house.jpg', alt='Детские площадки')
                          span.card__title
                            h4.heading.heading--card Прямо рядом с домом
                    
                    li.list__item.list__item--card
                      a.link.link--card.card.card--features(href='#large-area')
                        span.card__inner
                          span.card__image
                            img.image.image--card(src='./images/features/3-4-large-area.jpg', alt='Детские площадки')
                          span.card__title
                            h4.heading.heading--card Большая территория
              
              #tab4.tab__item
                .scrollbar-rail.wrap.wrap--index-card-scroll
                  ul.list.list--unstyled.list--cards.list--cards-index
                    li.list__item.list__item--card
                      a.link.link--card.card.card--features(href='#video-intercoms')
                        span.card__inner
                          span.card__image
                            img.image.image--card(src='./images/features/4-1-video-intercoms.jpg', alt='Детские площадки')
                          span.card__title
                            h4.heading.heading--card Видео&shy;домофоны
                    
                    li.list__item.list__item--card
                      a.link.link--card.card.card--features(href='#bicycles-and-strollers')
                        span.card__inner
                          span.card__image
                            img.image.image--card(src='./images/features/4-2-bicycles-and-strollers.jpg', alt='Детские площадки')
                          span.card__title
                            h4.heading.heading--card Места для хранения велосипедов и колясок
                    
                    li.list__item.list__item--card
                      a.link.link--card.card.card--features(href='#dog-wash')
                        span.card__inner
                          span.card__image
                            img.image.image--card(src='./images/features/4-3-dog-wash.jpg', alt='Детские площадки')
                          span.card__title
                            h4.heading.heading--card Место, где можно вымыть лапы собакам и велосипеды
                    
                    li.list__item.list__item--card
                      a.link.link--card.card.card--features(href='#hall')
                        span.card__inner
                          span.card__image
                            img.image.image--card(src='./images/features/4-4-hall.jpg', alt='Детские площадки')
                          span.card__title
                            h4.heading.heading--card Просторные светлые МОПы
    // Section Features End
  // Main End
  .modal.modal--form#js-modal-form
    a(href='#' rel="modal:close").btn.btn--transparent.modal__close
      svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39 38').icon.icon--close
        path(fill-rule='evenodd', d='M36.117.261l2.121 2.121L2.883 37.738.761 35.617 36.117.261z')
        path(fill-rule='evenodd', d='M1.012 2.104L3.161.011l35.827 34.884-2.15 2.093L1.012 2.104z')

    .modal__inner
      h4.heading.heading--modal Оставьте заявку на&nbsp;бесплатную&nbsp;консультацию

      form(action="", method="get").form.form--modal
        label(for="nameForm").label
          input(type="text", id=nameForm, name="name", value="", placeholder="Ваше Имя*", required='', autocomplete='off').input.input--text
        label(for="phoneForm").label.label--modal
          input(type="text", id=phoneForm, name="phone", value="", placeholder="Ваш Телефон*", required='', autocomplete='off').input.input--text.input--phone
        label(for="agreeForm").label.label--checkbox.text--xsmall.text--regular
          | Согласен на обработку персональных данных.
          br
          a(href="#").link.link--underline Политика конфиденциальности*
          input(type="checkbox", name="check", id='agreeForm', required='').input.input--checkbox
        input(type="submit", name="submit", value="Отправить", disabled='disabled').btn.btn--base#js-form-submit

  .modal.modal--success#js-modal-success
    a(href='#' rel="modal:close").btn.btn--transparent.modal__close
      svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39 38').icon.icon--close
        path(fill-rule='evenodd', d='M36.117.261l2.121 2.121L2.883 37.738.761 35.617 36.117.261z')
        path(fill-rule='evenodd', d='M1.012 2.104L3.161.011l35.827 34.884-2.15 2.093L1.012 2.104z')

    .modal__inner
      h4.heading.heading--modal Спасибо!

      span.text.text--normal.text--regular
        | Ваша заявка успешно отправлена!
        br
        | Наш менеджер свяжется в вами в ближайшее время

      a(href='#' rel="modal:close").link.btn.btn--base Хорошо

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://d4nyll.github.io/smartscroll/EventEmitter.min.js')
  script(src='https://d4nyll.github.io/smartscroll/lethargy.min.js')
  script(src='http://www.stripjs.com/bower_components/strip/dist/js/strip.pkgd.min.js')
  script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
