extends ../layout/_layout.pug
block vars
  - var pageTitle = 'Контакты'
  - var bodyClass = ''

block content
  // Top Panel
  include ../includes/_top-panel-inner
  // Top Panel End
  // SideBar
  include ../includes/_sidebar
  // SideBar End

  // Main
  main.main
    // Section About
    section.section.slide(data-hash='about')
      .grid
        .row.row--full
          .col.col--left.col--margin-left.col--margin-vertical
            h2.heading.heading--primary.heading--border Новости
            
            .date
              span.text.text--small.text--regular.text--uppercase.date__big 9 апреля 2018 года
              span.text.text--small.text--regular.text--uppercase.date__small 09.04.2018
            
            a(href='#back').link.btn.btn--base.btn--order Вернуться к списку
            
          .col.col--center.col--margin-vertical.col--margin-left
            h3.heading.heading--secondary Паркинг - комфорт для вас и вашего автомобиля!
            p.paragraph.text.text--normal
              | В ЖК «Геометрия» для вашего удобства мы предусмотрели уютный паркинг:
              | здесь ваш автомобиль будет в целости и сохранности. Закрытый охраняемый
              | паркинг оборудован лифтами, системой контроля доступа и видеонаблюдения.
              | На полу - специальное покрытие, удобная навигация, есть все необходимые
              | системы безопасности.
            p.paragraph.text.text--normal
              | Приобрести парковочное место можно любым удобным для вас способом,
              | есть семейные места и кладовые.
            p.paragraph.text.text--normal
              | Выбирайте!
            p.paragraph.text.text--normal
              | Мы ждем вас в нашем офисе продаж.
            p.paragraph.text.text--normal.text--underline
              | Подробности можно узнать по телефону:
              a(href="#").link (343) 312-80-00
          
          .col.col--right.col--no-padding
            ul.gallery.gallery--vertical
              li.gallery__item
                a.link.link--gallery.strip(href='./app/images/news-full.jpg', data-strip-group='mygroup', data-caption='Caption #1')
                  picture.image.image--gallery
                    source(media='(min-width: 1200px)', srcset='./app/images/news-right.jpg')
                    img(src='../images/news-small.jpg')
    // Section About End
  // Main End
  .modal.modal--form#js-modal-form
    a(href='#' rel="modal:close").btn.btn--transparent.modal__close
      svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39 38').icon.icon--close
        path(fill-rule='evenodd', d='M36.117.261l2.121 2.121L2.883 37.738.761 35.617 36.117.261z')
        path(fill-rule='evenodd', d='M1.012 2.104L3.161.011l35.827 34.884-2.15 2.093L1.012 2.104z')

    .modal__inner
      h4.heading.heading--modal Оставьте заявку на&nbsp;бесплатную&nbsp;консультацию

      form(action="", method="get").form.form--modal
        label(for="nameForm").label
          input(type="text", id=nameForm, name="name", value="", placeholder="Ваше Имя*", required='', autocomplete='off').input.input--text
        label(for="phoneForm").label.label--modal
          input(type="text", id=phoneForm, name="phone", value="", placeholder="Ваш Телефон*", required='', autocomplete='off').input.input--text.input--phone
        label(for="agreeForm").label.label--checkbox.text--xsmall.text--regular
          | Согласен на обработку персональных данных.
          br
          a(href="#").link.link--underline Политика конфиденциальности*
          input(type="checkbox", name="check", id='agreeForm', required='').input.input--checkbox
        input(type="submit", name="submit", value="Отправить", disabled='disabled').btn.btn--base#js-form-submit

  .modal.modal--success#js-modal-success
    a(href='#' rel="modal:close").btn.btn--transparent.modal__close
      svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39 38').icon.icon--close
        path(fill-rule='evenodd', d='M36.117.261l2.121 2.121L2.883 37.738.761 35.617 36.117.261z')
        path(fill-rule='evenodd', d='M1.012 2.104L3.161.011l35.827 34.884-2.15 2.093L1.012 2.104z')

    .modal__inner
      h4.heading.heading--modal Спасибо!

      span.text.text--normal.text--regular
        | Ваша заявка успешно отправлена!
        br
        | Наш менеджер свяжется в вами в ближайшее время

      a(href='#' rel="modal:close").link.btn.btn--base Хорошо
block scripts
  script(async='', src='https://d4nyll.github.io/smartscroll/EventEmitter.min.js')
  script(async='', src='https://d4nyll.github.io/smartscroll/lethargy.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='http://www.stripjs.com/bower_components/strip/dist/js/strip.pkgd.min.js')
  
