extends ../layout/_layout.pug
block vars
  - var pageTitle = 'Документы'
  - var bodyClass = 'page page--inner'

block content
  // Top Panel
  include ../includes/_top-panel-inner
  // Top Panel End
  // SideBar
  include ../includes/_sidebar
  // SideBar End

  // Main
  main.main.main--docs
    // Section About
    section.section.slide(data-hash='about')
      .grid
        .row.row--full
          .col.col--left.col--margin-left.col--margin-vertical.col--left-no-border
            h2.heading.heading--primary.heading--border Документация
            p.paragraph
              span.text.text--normal.text--regular Здесь вы найдете все необоходимые документы.
          .col.col--center.col--margin-vertical
            .scrollbar-rail.wrap.wrap--scroll
              ul.list.list--unstyled.list--cards.list--scroll.list--docs
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                li.list__item.list__item--card

                  .card.card--info.card--docs
                    .card__front
                      .card__inner
                        .card__image.clearfix
                          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                            g#docs
                              path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                              path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                        .card__content
                          .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                          .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
              
              button(type="button", name="load-more").btn.btn--base.btn--load-more
                svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 27 15').icon.icon--arrow
                  path(fill-rule='evenodd', d='M26.144-.006l.858.917-13.136 14.094-.858-.916L26.144-.006z')
                  path(fill-rule='evenodd', d='M-.005.915L.871.022l13.477 13.669-.876.892L-.005.915z')
    // Section About End
  // Main End
  .modal.modal--form#js-modal-form
    a(href='#' rel="modal:close").btn.btn--transparent.modal__close
      svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39 38').icon.icon--close
        path(fill-rule='evenodd', d='M36.117.261l2.121 2.121L2.883 37.738.761 35.617 36.117.261z')
        path(fill-rule='evenodd', d='M1.012 2.104L3.161.011l35.827 34.884-2.15 2.093L1.012 2.104z')

    .modal__inner
      h4.heading.heading--modal Оставьте заявку на&nbsp;бесплатную&nbsp;консультацию

      form(action="", method="get").form.form--modal
        label(for="nameForm").label
          input(type="text", id=nameForm, name="name", value="", placeholder="Ваше Имя*", required='', autocomplete='off').input.input--text
        label(for="phoneForm").label.label--modal
          input(type="text", id=phoneForm, name="phone", value="", placeholder="Ваш Телефон*", required='', autocomplete='off').input.input--text.input--phone
        label(for="agreeForm").label.label--checkbox.text--xsmall.text--regular
          | Согласен на обработку персональных данных.
          br
          a(href="#").link.link--underline Политика конфиденциальности*
          input(type="checkbox", name="check", id='agreeForm', required='').input.input--checkbox
        input(type="submit", name="submit", value="Отправить", disabled='disabled').btn.btn--base#js-form-submit

  .modal.modal--success#js-modal-success
    a(href='#' rel="modal:close").btn.btn--transparent.modal__close
      svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39 38').icon.icon--close
        path(fill-rule='evenodd', d='M36.117.261l2.121 2.121L2.883 37.738.761 35.617 36.117.261z')
        path(fill-rule='evenodd', d='M1.012 2.104L3.161.011l35.827 34.884-2.15 2.093L1.012 2.104z')

    .modal__inner
      h4.heading.heading--modal Спасибо!

      span.text.text--normal.text--regular
        | Ваша заявка успешно отправлена!
        br
        | Наш менеджер свяжется в вами в ближайшее время

      a(href='#' rel="modal:close").link.btn.btn--base Хорошо

block scripts
  script(src='./app/scripts/vendor/EventEmitter.min.js')
  script(src='./app/scripts/vendor/lethargy.min.js')
