extends ../layout/_layout.pug
block vars
  - var pageTitle = 'Контакты'
  - var bodyClass = ''

block content
  // Top Panel
  include ../includes/_top-panel-inner
  // Top Panel End
  // SideBar
  include ../includes/_sidebar
  // SideBar End

  // Main
  main.main
    // Section About
    section.section.slide(data-hash='about')
      .grid
        .row.row--full
          .col.col--left.col--vertical-center
            h2.heading.heading--primary О проекте
            ul.list.list--vertical.list--unstyled
              li.list__item.list__item--border-bottom
                strong.text.text--big.time 3 мин
                span.text.text--normal.location
                  | до красивого
                  br
                  | парка
              li.list__item.list__item--border-bottom
                strong.text.text--big.time 5 мин
                span.text.text--normal.location
                  | до остановки
                  br
                  | транспорта
              li.list__item.list__item--border-bottom
                strong.text.text--big.time 15 мин
                span.text.text--normal.location до центра
          .col.col--center.col--center-section.col--vertical-center
            h3.heading.heading--secondary Геометрия вашего комфорта: ЖК, где есть счастье
            p.paragraph.text.text--normal
              | Познакомьтесь с «Геометрией» — золотой пропорцией архитектуры и уюта.
              | Тут хочется дышать полной грудью в большом зеленом дворе, пускать с детьми
              | воздушных змеев, согреваться горячим чаем на светлой и уютной кухне.
              | Тут хочется жить!
            p.paragraph.paragraph--about-last.text.text--normal
              | Продуманные планировки с антресолями, где можно хранить нужные вещи,
              | отделка квартир «под ключ», паркинг в двух минутах от дома, удобная
              | транспортная развязка, тихий и спокойный район — ЖК, в котором хорошо.
              | ЖК, где начинается новый отрезок жизни: самый счастливый и добрый.
          .col.col--right
    // Section About End
