extends ../layout/_layout.pug
block vars
  - var pageTitle = 'Контакты'
  - var bodyClass = ''

block content
  // Top Panel
  include ../includes/_top-panel-inner
  // Top Panel End
  // SideBar
  include ../includes/_sidebar
  // SideBar End

  // Main
  main.main
    // Section About
    section.section.slide(data-hash='about')
      .grid
        .row.row--full
          .col.col--left.col--margin-left.col--margin-vertical
            h2.heading.heading--primary О проекте
            ul.list.list--vertical.list--unstyled
              li.list__item.list__item--border-bottom
                strong.text.text--big.time 3 мин
                span.text.text--normal.location
                  | до красивого
                  br
                  | парка
              li.list__item.list__item--border-bottom
                strong.text.text--big.time 5 мин
                span.text.text--normal.location
                  | до остановки
                  br
                  | транспорта
              li.list__item.list__item--border-bottom
                strong.text.text--big.time 15 мин
                span.text.text--normal.location до центра
          .col.col--center.col--margin-vertical

            ul.list.list--unstyled.list--cards.list--scroll
              li.list__item.list__item--card

                .card.card--info.card--docs
                  .card__front
                    .card__inner
                      .card__image.clearfix
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                          g#docs
                            path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                            path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                      .card__content
                        .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                        .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
              li.list__item.list__item--card

                .card.card--info.card--docs
                  .card__front
                    .card__inner
                      .card__image.clearfix
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                          g#docs
                            path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                            path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                      .card__content
                        .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                        .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
              li.list__item.list__item--card

                .card.card--info.card--docs
                  .card__front
                    .card__inner
                      .card__image.clearfix
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                          g#docs
                            path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                            path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                      .card__content
                        .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                        .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
              li.list__item.list__item--card

                .card.card--info.card--docs
                  .card__front
                    .card__inner
                      .card__image.clearfix
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                          g#docs
                            path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                            path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                      .card__content
                        .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                        .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
              li.list__item.list__item--card

                .card.card--info.card--docs
                  .card__front
                    .card__inner
                      .card__image.clearfix
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                          g#docs
                            path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                            path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                      .card__content
                        .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                        .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
              li.list__item.list__item--card

                .card.card--info.card--docs
                  .card__front
                    .card__inner
                      .card__image.clearfix
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                          g#docs
                            path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                            path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                      .card__content
                        .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                        .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
              li.list__item.list__item--card

                .card.card--info.card--docs
                  .card__front
                    .card__inner
                      .card__image.clearfix
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                          g#docs
                            path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                            path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                      .card__content
                        .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                        .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
              li.list__item.list__item--card

                .card.card--info.card--docs
                  .card__front
                    .card__inner
                      .card__image.clearfix
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                          g#docs
                            path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                            path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                      .card__content
                        .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                        .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
              li.list__item.list__item--card

                .card.card--info.card--docs
                  .card__front
                    .card__inner
                      .card__image.clearfix
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                          g#docs
                            path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                            path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                      .card__content
                        .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                        .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
              li.list__item.list__item--card

                .card.card--info.card--docs
                  .card__front
                    .card__inner
                      .card__image.clearfix
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                          g#docs
                            path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                            path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                      .card__content
                        .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                        .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
              li.list__item.list__item--card

                .card.card--info.card--docs
                  .card__front
                    .card__inner
                      .card__image.clearfix
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                          g#docs
                            path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                            path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                      .card__content
                        .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                        .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
              li.list__item.list__item--card

                .card.card--info.card--docs
                  .card__front
                    .card__inner
                      .card__image.clearfix
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 306 369.6').icon.icon--docs
                          g#docs
                            path(d='M303.66 85.65l-83.2-83.3A8 8 0 0 0 214.8 0H33.6A33.63 33.63 0 0 0 0 33.6V336a33.64 33.64 0 0 0 33.6 33.6h238.8A33.64 33.64 0 0 0 306 336V91.31a8 8 0 0 0-2.34-5.66zM222.8 27.33l55.9 56h-38.3a17.62 17.62 0 0 1-17.6-17.6zm49.6 326.27H33.6A17.62 17.62 0 0 1 16 336V33.6A17.62 17.62 0 0 1 33.6 16h173.2v49.7a33.64 33.64 0 0 0 33.6 33.6H290V336a17.62 17.62 0 0 1-17.6 17.6zm0 0')
                            path(d='M59.2 80.91h113.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 158.71h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 197.6h191.2a8.47 8.47 0 0 0 0-16.91H59.2a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 119.81h42a8.47 8.47 0 0 0 0-16.91h-42a8.47 8.47 0 0 0 0 16.91zm0 0M59.2 236.5h82a8.47 8.47 0 0 0 0-16.91h-82a8.47 8.47 0 0 0 0 16.91zm0 0M129.14 105.37a8.8 8.8 0 0 0 0 12 7.7 7.7 0 0 0 11.31 0 8.8 8.8 0 0 0 0-12 7.7 7.7 0 0 0-11.31 0zm0 0')
                      .card__content
                        .text.text--normal.text--regular.text--black Изменение в проектную декларацию от 05.04.2018
                        .text.text--xsmall.text--regular.text--black .pdf (4,6 Mb)
                
    // Section About End

block scripts
  script(async='', src='https://d4nyll.github.io/smartscroll/EventEmitter.min.js')
  script(async='', src='https://d4nyll.github.io/smartscroll/lethargy.min.js')
